<div class="govuk-check-your-answers cya-questions-short">
    <dl class="cya-whatYouDisagreeWith">
        <dt class="cya-question">{{ content.cya.address.question }}</dt>
        <dd class="cya-answer">
            {{ fields.addressLine1.value | safe }}<br>
            {% if fields.addressLine2.value %}{{ fields.addressLine2.value | safe }}<br>{% endif %}
            {{ fields.townCity.value | safe }}<br>
            {{ fields.county.value | safe }}<br>
            {{ fields.postCode.value }}<br>
        </dd>
        <dd class="cya-change">
            <a href="{{ path }}">{{ content.cya.change }}</a>
            <span class="govuk-visually-hidden"> {{ content.cya.yourDetails }}</span>
        </dd>
    </dl>
    {% if not isAppointeeJourney %}
        <dl id="cya-appellantcontactdetails-email-address" class="cya-whatYouDisagreeWith">
            <dt class="cya-question">{{ content.cya.emailAddress.question }}</dt>
            <dd class="cya-answer">{{ CYAEmailAddress }}</dd>
            <dd class="cya-change"></dd>
        </dl>
        <dl id="cya-appellantcontactdetails-phone-number">
            <dt class="cya-question ">{{ content.cya.phoneNumber.question }}</dt>
            <dd class="cya-answer">{{ CYAPhoneNumber }}</dd>
            <dd class="cya-change"></dd>
        </dl>
    {% endif %}
</div>
