{% extends "components/form-template.html" %}
{% from "components/fields.njk" import textbox, formSection %}
{% from "postcodeLookup/template.html" import postcodeLookup  %}

{% set title = title | safe %}

{% block fields %}
    {% call formSection() %}
        <p class="govuk-body">{{ subtitle }}</p>
        {% call postcodeLookup(fields, addressSuggestions, postcodeLookupType, postCodeContent) %}
            {{ textbox(fields.addressLine1,         content.fields.addressLine1.title,          hint="") }}
            {{ textbox(fields.addressLine2,         content.fields.addressLine2.title,          hint="") }}
            {{ textbox(fields.townCity,             content.fields.townCity.title,              hint="") }}
            {{ textbox(fields.county,               content.fields.county.title,                hint="") }}
            {{ textbox(fields.postCode,             content.fields.postCode.title,              hint="") }}
        {% endcall %}

        {% if not isAppointeeJourney %}
            {{ textbox(fields.phoneNumber,          content.fields.phoneNumber.title,           hint=content.fields.phoneNumber.hint) }}
            {{ textbox(fields.emailAddress,         content.fields.emailAddress.title,          hint=content.fields.emailAddress.hint) }}
        {% endif %}
    {% endcall %}
{% endblock %}
