{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}
{% from "postcodeLookup/template.html" import postcodeLookup  %}
{% from "components/common/textInput.njk" import govTextInput %}

{% set title = title | safe %}

{% block fields %}
    {% call formSection() %}
        <p class="govuk-body">{{ subtitle }}</p>
        {% call postcodeLookup(fields, addressSuggestions, postcodeLookupType, postCodeContent) %}
            {{ govTextInput(fields.addressLine1,    content.fields.addressLine1.title,  hint="") }}
            {{ govTextInput(fields.addressLine2,    content.fields.addressLine2.title,  hint="") }}
            {{ govTextInput(fields.townCity,        content.fields.townCity.title,      hint="") }}
            {{ govTextInput(fields.county,          content.fields.county.title,        hint="") }}
            {{ govTextInput(fields.postCode,        content.fields.postCode.title,      hint="") }}
        {% endcall %}

        {% if not isAppointeeJourney %}
            {{ govTextInput(fields.phoneNumber,     content.fields.phoneNumber.title,   hint=content.fields.phoneNumber.hint) }}
            {{ govTextInput(fields.emailAddress,    content.fields.emailAddress.title,  hint=content.fields.emailAddress.hint) }}
        {% endif %}
    {% endcall %}
{% endblock %}
