{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons, textarea, textbox, select %}
{% from "components/toggle_help.njk" import toggleHelp %}
{% from "details/macro.njk" import govukDetails %}

{% block pageTitle %}{{ content.titleHead }} - {{ commonContent[htmlLang].windowTitleSuffix }}{% endblock %}
{% set title = content.title %}

{% block fields %}
    <div id="appellantInUk">
        {% call formSection() %}
            {{ selectionButtons(
                fields.inUk,
                content.question,
                hint = '',
                options = [
                    { label: content.fields.inUk.yes, value: "yes" },
                    { label: content.fields.inUk.no,  value: "no" }
                ])
            }}
        {% endcall %}
    </div>
{% endblock %}
