{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/fields.njk" import formSection %}
{% from "components/formElements.html" import textarea %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    <p>{{ content.appealsShouldBeMadeWithOneMonth }}</p>
    <p>{{ content.appealMayGoAheadForGoodReason }}</p>

    {% call formSection() %}

        {{ textarea(fields.reasonForBeingLate, "", hint="") }}

    {% endcall %}

{% endblock %}
