{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/fields.njk" import formSection %}
{% from "components/formElements.html" import textarea %}

{% block head -%}
    <link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    <p>{{ content.appealsShouldBeMadeWithOneMonth }}</p>
    <p>{{ content.appealMayGoAheadForGoodReason }}</p>

    {% call formSection() %}

        {{ textarea(fields.reasonForBeingLate, "", hint="") }}

        <a href="/cant-appeal">{{ content.noGoodReasonWhyLate }}</a>

    {% endcall %}

{% endblock %}
