{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/add_another.html" %}
{% from "look-and-feel/components/fields.njk" import textbox, formSection, errorClass, errorsFor %}
{% from "components/formElements.html" import textarea %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set title %}
    {{ content.title | safe if isListMode }}
    {{ content.titleEdit | safe if isEditMode }}
{% endset %}

{% set pageContent = {
    addAnotherLink: addAnotherLinkContent,
    itemLabel: content.itemLabel,
    noItemsMessage: content.noReasons,
    itemsListLabel: content.itemsListLabel,
    hideItemsListLabel: true,
    editItemLabel: content.itemLabel
} %}

{% block noItems %}
    <div id="items" class="noItems {{ errorClass(fields.items) }}">

        {% if fields.validated and not fields.valid %}
            {%- for error in fields.errors -%}
                <span class="error-message">
                    {{ error.message }}
                </span>
            {%- endfor -%}
        {% endif %}

        {{ content.noReasons }}

    </div>
{% endblock %}

{% block item %}
    {{ item.whatYouDisagreeWith.value }}
{% endblock %}

{% block listItems %}
    <p>{{ content.dwpExplained }}</p>
    <p>{{ content.readYouMRN }}</p>
    {{ super() }}
{% endblock %}

{% block editItem %}
    <p>{{ content.dwpExplained }}</p>
    <p>{{ content.readYouMRN }}</p>
    {{ textbox(fields.item.whatYouDisagreeWith, content.fields.whatYouDisagreeWith.label) }}
    {{ textarea(fields.item.reasonForAppealing, content.fields.reasonForAppealing.label) }}
{% endblock %}


