{% set config = {'autocomplete': 'off'} %}
{% extends "components/globals.html" %}
{% extends "layouts/add_another.html" %}
{% from "components/fields.njk" import formSection, errorClass, errorsFor, textarea %}
{% from "components/common/textInput.njk" import govTextInput %}

{% set titleHead %}
    {{ content.titleHead if isListMode }}
    {{ content.titleHeadEdit if isEditMode }}
{% endset %}

{% block pageTitle %}{{ titleHead }} - {{ commonContent[htmlLang].windowTitleSuffix }}{% endblock %}

{% block head %}
    {{ super() }}
    <noscript>
        <meta http-equiv="refresh" content="{{ timeOut }};URL='/session-timeout'">
    </noscript>
{% endblock %}

{% set title %}
    {{ content.title | safe if isListMode }}
    {{ content.titleEdit | safe if isEditMode }}
{% endset %}

{% set pageContent = {
    addAnotherLink: addAnotherLinkContent,
    itemLabel: content.itemLabel,
    noItemsMessage: content.noReasons,
    itemsListLabel: content.itemsListLabel,
    hideItemsListLabel: true,
    editItemLabel: content.itemLabel
} %}

{% block full_width %}
    {{ super() }}
    <div>
        {% include "components/inactivity-alert.html" %}
    </div>
{% endblock %}

{% block noItems %}
    <div id="items" class="noItems {{ errorClass(fields.items) }}">
        {% if fields.validated and not fields.valid %}
            {%- for error in fields.errors -%}
                <span class="govuk-error-message">
                    {{ error.message }}
                </span>
            {%- endfor -%}
        {% endif %}

        {{ content.noReasons }}
    </div>
{% endblock %}

{% block item %}
    {{ item.whatYouDisagreeWith.value }}
{% endblock %}

{% block listItems %}
    {% if isIba %}
        <p class="govuk-body">{{ content.ibaExplained }}</p>
        <p class="govuk-body">{{ content.readYouRDN }}</p>
    {% else %}
        <p class="govuk-body">{{ content.dwpExplained }}</p>
        <p class="govuk-body">{{ content.readYouMRN }}</p>
    {% endif %}
    {{ super() }}
{% endblock %}

{% block editItem %}
    {{ govTextInput(fields.item.whatYouDisagreeWith, content.fields.whatYouDisagreeWith.label) }}
    {{ textarea(fields.item.reasonForAppealing, content.fields.reasonForAppealing.label, placeholder=content.placeholder) }}
{% endblock %}

{% block after_form -%}
    {% include "components/sessionTimeoutMessage.html" %}
    {{super()}}
{%- endblock %}
