{% extends "components/globals.html" %}
{% extends "layouts/question.html" %}

{% set title = content.privacy.title | safe %}

{% block two_thirds %}
    <h1 class="govuk-heading-l">{{ content.privacy.title }}</h1>
    <p class="govuk-body">{{ content.privacy.description }}</p>

    <h2 class="govuk-heading-m">{{ content.manages.title }}</h2>
    <p class="govuk-body">{{ content.manages.managedBy }}</p>
    <p class="govuk-body">
        {{ content.manages.data.controller }} <a class="govuk-link" href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter">{{ content.manages.data.link }}</a> {{ content.manages.data.process }}
    </p>

    <p class="govuk-body">{{ content.manages.responsible }}</p>
    <p class="govuk-body">
        {{ content.manages.moreInfo.service }} <a class="govuk-link" href="/terms-and-conditions">{{ content.manages.moreInfo.link }}</a>.
    </p>

    <h2 class="govuk-heading-m">{{ content.whyWeCollect.title }}</h2>
    <p class="govuk-body">{{ content.whyWeCollect.collect }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.whyWeCollect.collect1 }}</li>
        <li>{{ content.whyWeCollect.collect2 }}</li>
        <li>{{ content.whyWeCollect.collect3 }}</li>
    </ul>
    <p class="govuk-body">{{ content.whyWeCollect.staffUseData }}</p>

    <h2 class="govuk-heading-m">{{ content.personalData.title }}</h2>
    <p class="govuk-body">{{ content.personalData.collect }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.personalData.collect1 }}</li>
        <li>{{ content.personalData.collect2 }}</li>
        <li>{{ content.personalData.collect3 }}</li>
    </ul>
    <p class="govuk-body">
        {{ content.personalData.more.data }} <a class="govuk-link" href="#using-data">{{ content.personalData.more.link }}</a>.
    </p>

    <h2 id="using-data" class="govuk-heading-m">{{ content.usingYourData.title }}</h2>
    <p class="govuk-body">{{ content.usingYourData.account }}</p>
    <p class="govuk-body">{{ content.usingYourData.permission }}</p>
    <p class="govuk-body">
        {{ content.usingYourData.cookies.we }} <a class="govuk-link" href="/cookie-policy">{{ content.usingYourData.cookies.link }}</a> {{ content.usingYourData.cookies.collect }}
    </p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.usingYourData.data1 }}</li>
        <li>{{ content.usingYourData.data2 }}</li>
        <li>{{ content.usingYourData.data3 }}</li>
        <li>{{ content.usingYourData.data4 }}</li>
    </ul>

    <h2 class="govuk-heading-m">{{ content.storingData.title }}</h2>
    <p class="govuk-body">{{ content.storingData.dataProvided }}</p>
    <p class="govuk-body">
        {{ content.storingData.findOut.more }} <a class="govuk-link" href="#appeal-benefit-heading">{{ content.storingData.findOut.link }}</a>.
    </p>

    <h2 class="govuk-heading-m">{{ content.shareDate.title }}</h2>
    <p class="govuk-body">{{ content.shareDate.involved }}</p>
    <p class="govuk-body">{{ content.shareDate.contact }}</p>
    <p class="govuk-body">{{ content.shareDate.share }}</p>
    <p class="govuk-body">
        {{ content.shareDate.google.used }} <a class="govuk-link" href="/terms-and-conditions">{{ content.shareDate.google.link }}</a>.
    </p>

    <h2 class="govuk-heading-m">{{ content.internationally.title }}</h2>
    <p class="govuk-body">{{ content.internationally.outsideUK }}</p>

    <h2 class="govuk-heading-m">{{ content.yourRights.title }}</h2>
    <p class="govuk-body">{{ content.yourRights.ask }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.yourRights.question1 }}</li>
        <li>{{ content.yourRights.question2 }}</li>
        <li>{{ content.yourRights.question3 }}</li>
        <li>{{ content.yourRights.question4 }}</li>
    </ul>
    <p class="govuk-body">{{ content.yourRights.seeData }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            {{ content.yourRights.form.complete }} <a class="govuk-link" href="https://www.gov.uk/government/publications/request-your-personal-data-from-moj">{{ content.yourRights.form.link }}</a>. {{ content.yourRights.form.controller }}
        </li>
        <li>{{ content.yourRights.write }}</li>
    </ul>
    <p class="govuk-body">{{ content.yourRights.moreInfo }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.yourRights.info1 }}</li>
        <li>{{ content.yourRights.info2 }}</li>
        <li>{{ content.yourRights.info3 }}</li>
        <li>{{ content.yourRights.info4 }}</li>
    </ul>
    <p class="govuk-body">{{ content.yourRights.contactOfficer }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.yourRights.contact1 }}</li>
        <li>{{ content.yourRights.contact2 }}</li>
    </ul>

    <h2 class="govuk-heading-m">{{ content.complain.title }}</h2>
    <p class="govuk-body">
        {{ content.complain.complaints.procedure }} <a class="govuk-link" href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">{{ content.complain.complaints.link }}</a> {{ content.complain.complaints.personalData }}
    </p>
    <p class="govuk-body">
        {{ content.complain.write }}<br>
        {{ content.complain.email }}
    </p>
    <p class="govuk-body">
        {{ content.complain.commissioner.canAlso }} <a class="govuk-link" href="https://ico.org.uk/global/contact-us">{{ content.complain.commissioner.link }}</a> {{ content.complain.commissioner.notSatisifed }}
    </p>

    <h2 id="appeal-benefit-heading" class="govuk-heading-l">{{ content.appealBenefit.title }}</h2>

    <h3 class="govuk-heading-m">{{ content.appealBenefit.personalData.title }}</h3>
    <p class="govuk-body">{{ content.appealBenefit.personalData.weAskFor }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.appealBenefit.personalData.yourDetail1 }}</li>
        <li>{{ content.appealBenefit.personalData.yourDetail2 }}</li>
        <li>{{ content.appealBenefit.personalData.yourDetail3 }}</li>
        <li>{{ content.appealBenefit.personalData.yourDetail4 }}</li>
        <li>{{ content.appealBenefit.personalData.yourDetail5 }}</li>
        <li>{{ content.appealBenefit.personalData.yourDetail6 }}</li>
        <li>{{ content.appealBenefit.personalData.yourDetail7 }}</li>
    </ul>
    <p class="govuk-body">{{ content.appealBenefit.personalData.rep }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.appealBenefit.personalData.repDetail1 }}</li>
        <li>{{ content.appealBenefit.personalData.repDetail2 }}</li>
    </ul>
    <p class="govuk-body">{{ content.appealBenefit.personalData.onBehalf }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.appealBenefit.personalData.theirDetail1 }}</li>
        <li>{{ content.appealBenefit.personalData.theirDetail2 }}</li>
    </ul>

    <h3 class="govuk-heading-m">{{ content.appealBenefit.notifications.title }}</h3>
    <p class="govuk-body">{{ content.appealBenefit.notifications.receive }}</p>
    <p class="govuk-body">{{ content.appealBenefit.notifications.cancel }}</p>
    <p class="govuk-body">
        {{ content.appealBenefit.notifications.updates.rep }} <a class="govuk-link" href="/contact-us">{{ content.appealBenefit.notifications.updates.link }}</a>.
    </p>

    <h3 class="govuk-heading-m">{{ content.appealBenefit.storing.title }}</h3>
    <p class="govuk-body">{{ content.appealBenefit.storing.shared }}</p>

    <h3 class="govuk-heading-m">{{ content.appealBenefit.after.title }}</h3>
    <p class="govuk-body">{{ content.appealBenefit.after.deleted }}</p>
    <p class="govuk-body">{{ content.appealBenefit.after.noDecision }}</p>
    <p class="govuk-body">{{ content.appealBenefit.after.complaint }}</p>
{% endblock %}
