{% extends "components/globals.html" %}
{% extends "layouts/error.html" %}
{% from "components/header.njk" import header %}
{% from "components/phase_banner.njk" import phaseBanner %}

{% block pageTitle %}
{{ content.titleHead | safe }} - {{ commonContent[htmlLang].ibca.windowTitleSuffix if isIba else commonContent[htmlLang].windowTitleSuffix | safe }}
{% endblock %}

{% block content %}

{{ header(content.title | safe, size='xl') }}

<p class="govuk-body" >{{ content.message | safe }}</p>

<a class="govuk-button" href="/start-an-appeal">{{ content.tryAgain | safe}}</a>

<p class="govuk-body" >{{ content.messageContactUs | safe }}</p>

{% endblock %}
