{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/two_thirds.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/phase_banner.njk" import phaseBanner %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% block head %}
{{ super() }}
    <noscript>
        <meta http-equiv="refresh" content="{{ timeOut }};URL='/session-timeout'">
    </noscript>
{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}


{% block full_width %}
    <div class="grid-row column-full">

        <div class="banner-blue">
            {{ header(title, size='xlarge') }}
        </div>

        <div class="column-full">
            <form action="{{ path if path else url }}" method="post" class="form">

                {% block fields %}
                    <p class="lede">{{ content.reviewed }}</p>
                    <p class="lede">{{ content.separate }}</p>
                {% endblock %}

                <input class="button" type="submit" value="Continue">
            </form>

        </div>

    </div>

    <div>
        {% include "components/inactivity-alert.html" %}
    </div>

{% endblock %}}
