{% extends "components/globals.html" %}
{% extends "layouts/two_thirds.html" %}
{% from "components/header.njk" import header %}
{% from "components/phase_banner.njk" import phaseBanner %}

{% block pageTitle %}
{{ content.titleHead }} - {{ commonContent[htmlLang].ibca.windowTitleSuffix if isIba else commonContent[htmlLang].windowTitleSuffix }}
{% endblock %}
{% set title = content.title | safe %}

{% block head %}
    {{ super() }}
    <noscript>
        <meta http-equiv="refresh" content="{{ timeOut }};URL='/session-timeout'">
    </noscript>
{% endblock %}

{% block full_width %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-full">
            <div class="banner-blue">
                {{ header(title, size='xl') }}
            </div>
        </div>

        <div class="govuk-grid-column-full">
            <form action="{{ path if path else url }}" method="post" class="form">

                {% block fields %}
                {% if benefitType == 'UC' %}
                    <p class="govuk-body-l">{{ content.UCreviewed }}</p>
                {% elif isIba %}
                    <p class="govuk-body-l">{{ content.IBAreviewed }}</p>
                {% else %}
                    <p class="govuk-body-l">{{ content.reviewed }}</p>
                {% endif %}
                <p class="govuk-body-l">{{ content.separate }}</p>
                {% endblock %}

                <input class="govuk-button" type="submit" value="{{ commonContent[htmlLang].continue }}">
            </form>
        </div>
    </div>
    <div>
        {% include "components/inactivity-alert.html" %}
    </div>
{% endblock %}}
