{% extends "components/globals.html" %}
{% extends "layouts/two_thirds.html" %}
{% from "components/header.njk" import header %}
{% from "components/phase_banner.njk" import phaseBanner %}

{% block pageTitle %}{{ content.titleHead }}{% endblock %}

{% block head %}
{{ super() }}
    <noscript>
        <meta http-equiv="refresh" content="{{ timeOut }};URL='/session-timeout'">
    </noscript>
{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}


{% block full_width %}
    <div class="govuk-grid-row">

        <div class="banner-blue">
            {{ header(title, size='xl') }}
        </div>

        <div class="govuk-grid-column-full">
            <form action="{{ path if path else url }}" method="post" class="form">

                {% block fields %}
                    <p class="govuk-body-l">{{ content.reviewed }}</p>
                    <p class="govuk-body-l">{{ content.separate }}</p>
                {% endblock %}

                <input class="govuk-button" type="submit" value="Continue">
            </form>

        </div>

    </div>

    <div>
        {% include "components/inactivity-alert.html" %}
    </div>

{% endblock %}}
