*

!package.json
!yarn.lock

!assets/**
!components/**
!config/**
!core/**
!keys/**
!middleware/**
!mocks/**
!policy-pages/**
!services/**
!steps/**
!utils/**
!views/**
!webpack/**
!cookie-banner/**

!app.js
!appConfigurations.js
!commonContent.json
!content.cy.json
!content.en.json
!logger.js
!paths.js
!server.js
!steps.js
!urls.js
