.idea
.DS_Store
node_modules
.nyc_output
dump.rdb
test/e2e/output
test/unit/coverage
.sonar/
.sonar_lock
report-task.txt
smoke-output/
functional-output/
submit-your-appeal.iml
dist/
mochawesome-report/
.vscode/
yarn-error.log
uploads/
evidence.txt
/test/coverage
package-lock.json
*.iml
./yarn-audit-issues
