{
  "include": [],
  "exclude": [],  
  "reporter": [
    "lcov",
    "text",
    "html"
  ],
  "extension": [
    ".js"
  ],
  "report-dir": "./test/coverage/html",
  "temp-directory": "./test/coverage/.nyc_output",
  "temp-dir": "./test/coverage/.nyc_output"
}