{
  "include": [
    "steps/**/**.js",
    "components/**/controller.js",
    "middleware/**.js"
  ],
  "exclude": [
    "webpack/**.js",
    "mocks/**/**.js",
    "steps/errors/**/**.js",
    "steps/compliance/dwp-issuing-office/PipNumberOnImage.js",
    "steps/compliance/dwp-issuing-office/ids.js",
    "steps/idam/IdamLogin/IdamLogin.js",
    "middleware/idam.js",
    "middleware/preserveSession.js",
    "steps/archive-appeal/ArchiveAppeal.js"
  ],
  "reporter": [
    "lcov",
    "text",
    "html"
  ],
  "extension": [
    ".js"
  ],
  "report-dir": "./test/unit/coverage/html",
  "temp-directory": "./test/unit/coverage/.nyc_output",
  "temp-dir": "./test/unit/coverage/.nyc_output",
  "all": true
}