# Ignore everything in the root except the directories listed below
*

!/test/
!steps/
!utils/
!views/
!middleware/
!services/
!cookie-banner/
!webpack/
!components/
!assets/

!/test/**/*
!steps/**
!utils/**
!views/**
!middleware/**
!services/**
!cookie-banner/**
!webpack/**
!components/**
!assets/**