version: '2.1'

services:
  sya:
    build:
      context: .
      args:
        - http_proxy
        - https_proxy
        - no_proxy
    ports:
      - "9229:9229"
      - "3000:3000"
    image: hmctspublic.azurecr.io/sscs/tribunals-frontend:pr-1383
    environment:
      REDIS_URL: 'redis://redis:6379'
    links:
      - redis

  redis:
    image: redis
