{% extends "layouts/two_thirds.html" %}

{% from "components/header.njk" import header %}
{% from "components/phase_banner.njk" import phaseBanner %}
{% from "components/errors.njk" import errorSummary %}
{% from "components/i18n.njk" import languageSwitch %}

{% block breadcrumbs %}
    {{ phaseBanner(commonContent[htmlLang], feedbackLink + urlPath) }}
    <a class="govuk-back-link" href="#">{{ commonContent[htmlLang].back }}</a>
{% endblock %}

{% block pageTitle %}
{{ content.titleHead }} - {{ commonContent[htmlLang].ibca.windowTitleSuffix if isIba else commonContent[htmlLang].windowTitleSuffix }}
{% endblock %}

{% block two_thirds %}
    {{ errorSummary(fields, commonContent[htmlLang].errorSummaryHeading) }}
    {% if title %}
        {{ header(title, size='l', fieldsValidated=fields.validated, fieldsValid=fields.valid) }}
    {% endif %}
    <form enctype="{{ enc_type | default('application/x-www-form-urlencoded') }}"
          action="{{ postUrl | default(path if path else url) }}"
          method="post"
          class="form"
          {% if config.autocomplete %}
              autocomplete="{{ config.autocomplete }}"
          {% endif %}
          novalidate
    >
        {% block fields -%}
        {%- endblock %}

        {% if csurfCsrfToken %}
            <input type="hidden" name="_csrf" value="{{ csurfCsrfToken }}">
        {% endif %}

        {% set continueButtonLabel = commonContent[htmlLang].continue %}
        {% if continueText == "continue" %}
            {% set continueButtonLabel = commonContent[htmlLang].continue %}
        {% elseif continueText == "saveAndContinue" %}
            {% set continueButtonLabel = commonContent[htmlLang].saveAndContinue %}
        {% endif %}

        <div class="form-buttons-group">
            <input class="govuk-button" type="submit" value="{{ continueButtonLabel }}">
        </div>
    </form>
{% endblock %}
