{% extends "layouts/two_thirds.html" %}
{% from "components/header.njk" import header %}
{% from "components/phase_banner.njk" import phaseBanner %}
{% from "components/errors.njk" import errorSummary %}
{% from "components/i18n.njk" import languageSwitch %}

{% block breadcrumbs %}
{{ phaseBanner(phase, feedbackLink) }}
<a class="govuk-back-link" href="#" onclick="history.go(-1); return false;">Back</a>
{{ languageSwitch(i18n.currentLanguage, i18n.availableLanguages) }}
{% endblock %}

{% block two_thirds %}

{{ errorSummary(fields) }}

{{ header(title, size='l', fieldsValidated=fields.validated, fieldsValid=fields.valid) }}

<form
  enctype="{{ enc_type | default('application/x-www-form-urlencoded') }}"
  action="{{ postUrl | default(path if path else url) }}"
  method="post"
  class="form"
  {% if config.autocomplete %}
    autocomplete="{{config.autocomplete}}"
  {% endif %}
>

  {% block fields -%}
  {%- endblock %}

  {% if csurfCsrfToken %}
    <input type="hidden" name="_csrf" value="{{csurfCsrfToken}}">
  {% endif %}

  {% if not continueText  %}
     {% set continueText = 'Continue' %}
  {% endif %}

  <div class="form-buttons-group">
    <input class="govuk-button" type="submit" value="{{continueText}}">
    {% if isUserLoggedIn  %}
      <a href="/sign-out" class="govuk-link govuk-!-font-size-19 govuk-line-height-38 ">Save and come back later</a>
    {% endif %}
  </div>
</form>

{% endblock %}
