{% extends "template.njk" %}

{% set htmlClasses = '' %}
{% set bodyClasses = 'app-body-class' %}
{% set mainClasses = 'app-main-class' %}
{% set assetPath = '/assets' %}
{% set serviceName = 'submit your appeal' %}
{% set htmlLang = i18n.currentLanguage if i18n.currentLanguage else "en" %}

{% block pageTitle %}{{ title | default(defaultContent.title) | safe }}{% endblock %}

{% block headIcons %}
  {% include "components/touch-icons.html" %}
{% endblock %}

{% block header %}

{% if featureToggles.cookieBanner() == "true" %}
  <div>
    {% include "../../cookie-banner/common/components/imported/cookie-manager/cookie-banner.njk" %}
  </div>
{% else %}
  {% include "components/cookie-banner.html" %}
{% endif %}

{% include "components/navigation.html" %}
{% endblock %}

{% block beforeContent -%}
  {% block breadcrumbs %}{% endblock %}
{%- endblock %}

{% block content -%}
  {% block full_width %}
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        {% block two_thirds -%}{%- endblock %}
      </div>
      <div class="govuk-grid-column-one-third">
        {% block one_third -%}{%- endblock %}
      </div>
    </div>
  {% endblock %}


  {% if allowContactUs %}
    {% include "components/contact-us.html" %}
  {% endif %}
{%- endblock %}

{% block footer %}
  {{ govukFooter({
    meta: {
      items: footerLinks or []
    }
  }) }}
{% endblock %}
