{% extends "components/globals.html" %}
{% extends "layouts/error.html" %}
{% from "components/header.njk" import header %}
{% from "components/phase_banner.njk" import phaseBanner %}

{% block pageTitle %}{{ title }}{% endblock %}

{% block breadcrumbs %}
    {% call phaseBanner(commonContent[htmlLang], feedbackLink + urlPath) %}
        {{ banner }}
    {% endcall %}
{% endblock %}

{% block two_thirds %}
    {{ header(title, size='xl') }}

    <p class="govuk-body">{{ message }}</p>

    <p class="govuk-body">{{ nextSteps[0] }} <a class="govuk-link" href='/start-an-appeal'>{{ nextSteps[1] }}</a></p>
{% endblock %}
