{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/two_thirds.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/phase_banner.njk" import phaseBanner %}

{% block breadcrumbs %}
    {% call phaseBanner(phase) %}
        {{ banner | safe }}
    {% endcall %}
    <div class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk">{{ breadcrumbs.home }}</a></li>
            <li><a href="https://www.gov.uk/browse/benefits">{{ breadcrumbs.benefits }}</a></li>
            <li><a href="https://www.gov.uk/browse/benefits/entitlement">{{ breadcrumbs.entitlement }}</a></li>
        </ol>
    </div>
{% endblock %}

{% block two_thirds -%}

    {{ header(title, size='xlarge') }}

    <aside class="nav-container" role="complementary">
        {% block navList -%}{%- endblock %}
    </aside>

    {% block infoContent -%}{%- endblock %}

{%- endblock %}
