{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/two_thirds.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/phase_banner.njk" import phaseBanner %}

{% block breadcrumbs %}
    {% call phaseBanner(phase) %}
        {{ banner | safe }}
    {% endcall %}
    <div class="breadcrumbs">
        <ol>
            <li><a href="https://www.gov.uk">{{ breadcrumbs.home }}</a></li>
            <li><a href="https://www.gov.uk/browse/benefits">{{ breadcrumbs.benefits }}</a></li>
            <li><a href="https://www.gov.uk/browse/benefits/entitlement">{{ breadcrumbs.entitlement }}</a></li>
        </ol>
    </div>
{% endblock %}



{% block full_width -%}

    <div class="grid-row">

        <div class="column-two-thirds">
            {{ header(title, size='xlarge') }}
            <aside class="nav-container" role="complementary">
                {% block navList -%}{%- endblock %}
            </aside>
        </div>

        <div class="column-two-thirds">
            {% block infoContent -%}{%- endblock %}
        </div>

        <div class="column-one-third">
            <aside class="govuk-related-items">
                <h2 class="heading-small">{{ relatedContent.heading }}</h2>
                <nav role="navigation">
                    <ul class="font-xsmall">
                        <li><a href="{{ urls.relatedContent.benefit.calculator }}">{{ relatedContent.benefit.calculator }}</a></li>
                        <li><a href="{{ urls.relatedContent.benefit.overPayments }}">{{ relatedContent.benefit.overPayments }}</a></li>
                        <li><a href="{{ urls.relatedContent.benefit.fraud }}">{{ relatedContent.benefit.fraud }}</a></li>
                    </ul>
                </nav>
                <nav>
                    <h3 class="sub-heading">{{ relatedContent.explore.heading }}</h3>
                    <ul class="font-xsmall">
                        <li class="bold"><a href="{{ urls.relatedContent.explore.howItWorks }}">{{ relatedContent.explore.howItWorks }}</a></li>
                        <li class="bold"><a href="{{ urls.relatedContent.explore.courts }}">{{ relatedContent.explore.courts }}</a></li>
                    </ul>
                </nav>
            </aside>
        </div>

    </div>

{%- endblock %}
