{% extends "components/globals.html" %}
{% extends "layouts/question.html" %}

{% block pageTitle %}{{ content.titleHead | safe }} - {{ commonContent[htmlLang].windowTitleSuffix | safe }}{% endblock %}
{% set title = content.title | safe %}

{% block two_thirds %}
    <h1>Your draft benefit appeals</h1>

    <p>If you wish to edit an application for appeal, please select ‘edit’ next to the appropriate appliction.</p>

    <p>If you no longer wish to submit any of these applications for appeal, please select ‘archive’ next to the appropriate application.</p>

    <p>If you wish to submit a new appeal, please select ‘create new application’ to provide your appeal information.</p>

    <br>

{% for caseId, draft in drafts %}

    {{ header(appellantName(draft) | safe, size='m') }}
    <table class="govuk-table">
        <caption class="govuk-visually-hidden">Table Caption</caption>
        <thead class="govuk-table__head">
        <tr class="govuk-table__row">
            <th class="govuk-table__header" scope="col">Appeal Reference</th>
            <th class="govuk-table__header" scope="col">Benefit</th>
            <th class="govuk-table__header" scope="col">MRN Date</th>
            <th class="govuk-table__header" scope="col">Action</th>
        </tr>
        </thead>
        <tbody class="govuk-table__body">

        <tr class="govuk-table__row">
            <td class="govuk-table__cell">{{ caseId }}</td>
            <td class="govuk-table__cell">{{ benefit(draft) }}</td>
            <td class="govuk-table__cell">{{ mrnDate(draft) }}</td>
            <td class="govuk-table__cell"><a href="/check-your-appeal">Edit</a></td>
        </tr>

        </tbody>
    </table>
{% endfor %}

{%- endblock %}
