{% extends "layout/formPage.html" %}

{% set title = content.title %}

{% block two_thirds %}

    <div class="govuk-box-highlight">
        <h1 class="bold-large">{{ content.title }}</h1>
    </div>

    <div>
        <p class="no-image">IMAGE GOES HERE</p>
    </div>

    <div class="description">
        <h4 class="heading-small">{{ content.next.heading }}</h4>
        <p>{{ content.next.notify }}</p>
        <p>{{ content.next.contact }}</p>
    </div>

    <div>
        <p>{{ content.email }}</p>
        <p><a class="link" href="#">{{ content.download }}</a></p>
    </div>

{% endblock %}
