{% extends "landing-page-template.html" %}

{% block navList -%}
<div>
    <ol class="nav-list">
        <li><a href="/">{{ navList.overview }}</a></li>
        <li>{{ navList.before }}</li>
        <li><a href="/help-with-appeal">{{ navList.help }}</a></li>
        <li><a href="/start-an-appeal">{{ navList.start }}</a></li>
        <li><a href="/after-you-appeal">{{ navList.after }}</a></li>
    </ol>
</div>
{% endblock %}

{% block infoContent %}
<h1 class="heading-large">{{ heading }}</h1>

<p>{{ reconsideration }}</p>
<p>{{ housingBenefit | safe }}</p>
<p>{{ childBenefit | safe }}</p>
<p>{{ contactDetails }}</p>

<div class="panel panel-border-wide">
    <p>{{ upToAMonth }}</p>
</div>
{%- endblock %}
