{% extends "landing-page-template.html" %}
{% from "components/landingPagePagination.html" import pagination %}

{% block page_title %}{{ titleHead }}{% endblock %}

{% block navList -%}
<nav class="nav-section" role="navigation">
    <h2>Contents</h2>
    <ol class="nav-list">
        <li><a href="{{ paths.landingPages.overview }}">{{ navList.overview }}</a></li>
        <li>{{ navList.before }}</li>
        <li><a href="{{ paths.landingPages.helpWithAppeal }}">{{ navList.help }}</a></li>
        <li><a href="{{ paths.landingPages.startAnAppeal }}">{{ navList.start }}</a></li>
        <li><a href="{{ paths.landingPages.afterYouAppeal }}">{{ navList.after }}</a></li>
    </ol>
</nav>
{% endblock %}

{% block infoContent %}
<h1 class="part-title">{{ heading }}</h1>

<p>{{ reconsideration }}</p>
<p>{{ housingBenefit | safe }}</p>
<p>{{ childBenefit | safe }}</p>
<p>{{ contactDetails }}</p>

<div class="panel panel-border-wide">
    <p>{{ upToAMonth }}</p>
</div>

{{ pagination(
    prevLink=paths.landingPages.overview,
    prevLabel=navList.overview,
    nextLink=paths.landingPages.helpWithAppeal,
    nextLabel=navList.help
) }}

{%- endblock %}
