{% extends "landing-page-template.html" %}
{% from "components/landingPagePagination.html" import pagination %}

{% block page_title %}{{ titleHead }}{% endblock %}

{% block navList -%}
<nav class="nav-section" role="navigation">
    <h2>Contents</h2>
    <ol class="nav-list">
        <li><a href="{{ paths.landingPages.overview }}">{{ navList.overview }}</a></li>
        <li><a href="{{ paths.landingPages.beforeYouAppeal }}">{{ navList.before }}</a></li>
        <li><a href="{{ paths.landingPages.helpWithAppeal }}">{{ navList.help }}</a></li>
        <li><a href="{{ paths.landingPages.startAnAppeal }}">{{ navList.start }}</a></li>
        <li>{{ navList.after }}</li>
    </ol>
</nav>
{% endblock %}

{% block infoContent %}
<h1 class="part-title">{{ heading }}</h1>

<div>
    <h2 class="heading-medium">{{ sentToDepartment.subHeading }}</h2>
    <p>{{ sentToDepartment.appealSent }}</p>
</div>

<div>
    <h2 class="heading-medium">{{ departmentResponds.subHeading }}</h2>
    <p>{{ departmentResponds.writesResponse }}</p>
</div>

<div>
    <h2 class="heading-medium">{{ questions.subHeading }}</h2>
    <p>{{ questions.helpTribunal }}</p>
</div>

<div>
    <h2 class="heading-medium">{{ appealHeard.subHeading }}</h2>
    <p>{{ appealHeard.hearing }}</p>
</div>

<div>
    <h2 class="heading-medium">{{ time.subHeading }}</h2>
    <p>{{ time.severalMonths }}</p>
    <p>{{ time.avoidDelays }}</p>
    <ul class="list list-bullet">
        <li>{{ time.delaysList.sendEvidence }}</li>
        <li>{{ time.delaysList.turnUp }}</li>
        <li>{{ time.delaysList.earlyRep | safe }}</li>
    </ul>
</div>

<div>
    <h2 class="heading-medium">{{ sendEvidence.subHeading }}</h2>
    <p>{{ sendEvidence.helpToUnderstand }}</p>
    <div class="panel panel-border-wide">
        <p>{{ sendEvidence.sendASAP }}</p>
    </div>
</div>

{{ pagination(
    prevLink=paths.landingPages.startAnAppeal,
    prevLabel=navList.start
) }}

{%- endblock %}
