{% macro answer(question, answer, url, id, commonContent) %}
  <dl class="govuk-summary-list">
    <div class="govuk-summary-list__row" id="cya-{{ safeId(id, question) }}">
      <dt class="govuk-summary-list__key">
        {{ question }}
      </dt>
      <dd class="govuk-summary-list__value">
        {% if caller %}
          {{ caller() }}
        {% else %}
          {% if isArray(answer) %}
            <ul class="govuk-list">
              {% for line in answer %}
                <li>{{ line }}</li>
              {% endfor %}
            </ul>
          {% else %}
            {{ answer }}
          {% endif%}
        {% endif %}
      </dd>
      <dd class="govuk-summary-list__actions">
        <a class="govuk-link" title="Change {{ question }}" href="{{ url }}">
          {{ commonContent.change }} <span class="govuk-visually-hidden">{{ question }}</span>
        </a>
      </dd>
    </div>
  </dl>
{% endmacro %}
