{% from "./../../node_modules/govuk-frontend/govuk/components/error-summary/macro.njk" import govukErrorSummary %}

{% macro errorSummary(fields, title='There was a problem') -%}
  {%- if fields.validated and not fields.valid -%}
    {% set errors = [] %}
    {% for error in fields.errors %}
        {% set errors = (errors.push({text: error.message, href: '#' + error.id}), errors) %}
    {% endfor %}
    {{ govukErrorSummary({
      titleText: title | safe,
      errorList: errors
    }) }}
  {%- endif -%}
{%- endmacro %}
