{% from "components/fields.njk" import errorsFor, errorClass %}

{% macro date(field, question, hint='', hideQuestion=false, labels={}) %}
<div
        id="{{ field.id }}"
        class="govuk-date-input {{ errorClass(field) }}{{ errorClass(field.day) }}{{ errorClass(field.month) }}{{ errorClass(field.year) }}">

    {% if not hideQuestion %}
    <legend class="govuk-form-label-bold">{{ question | safe }}</legend>
    {% endif %}

    {% if hint %}
    <span class="govuk-form-hint">{{ hint | safe }}</span>
    {% endif %}

    {{ errorsFor(field) }}
    {{ errorsFor(field.day) }}
    {{ errorsFor(field.month) }}
    {{ errorsFor(field.year) }}

    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="{{ field.day.id }}">{{ labels.day | default('Day') }}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 {{ errorClass(field.day, 'control') }} {{ errorClass(field, 'control') }}"
                id="{{ field.day.id }}"
                type="number"
                pattern="[0-9]*"
                min="1"
                max="31"
                name="{{ field.day.id }}"
                {% if field.day.value %}value="{{ field.day.value }}"{% endif %}>
        </div>       
    </div>

    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label class="govuk-label govuk-date-input__label" for="{{ field.month.id }}">{{ labels.month | default('Month') }}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-2 {{ errorClass(field.month, 'control') }} {{ errorClass(field, 'control') }}"
                id="{{ field.month.id }}"
                type="text"
                name="{{ field.month.id }}"
                {% if field.month.value %}value="{{ field.month.value }}"{% endif %}>
        </div>               
    </div>

    <div class="govuk-date-input__item">
        <div class="govuk-form-group">
            <label for="{{ field.year.id }}">{{ labels.year | default('Year') }}</label>
            <input class="govuk-input govuk-date-input__input govuk-input--width-4 {{ errorClass(field.year, 'control') }} {{ errorClass(field, 'control') }}"
                id="{{ field.year.id }}"
                type="number"
                pattern="[0-9]*"
                min="1"
                name="{{ field.year.id }}"
                {% if field.year.value %}value="{{ field.year.value }}"{% endif %}>
        </div>   
    </div>

</div>

{% endmacro %}

{% macro textarea(field, label, hint="", hideLabel=false, placeholder="", maxlength=0) %}

<div class="govuk-form-group {{ errorClass(field) }}">

    <label id="{{ field.id }}-label" class="govuk-form-label {{ 'govuk-visually-hidden' if hideLabel }}" for="{{ field.id }}">{{ label | safe }}</label>

    {% if hint %}
    <span class="govuk-form-hint">{{ hint | safe }}</span>
    {% endif %}

    {{ errorsFor(field) }}
    <textarea placeholder="{{ placeholder }}" aria-labelledby="{{ field.id }}-label" class="govuk-textaread" id="{{ field.id }}" name="{{ field.id }}" rows="7"{% if maxlength %} maxlength="{{ maxlength }}"{% endif %}>{{ field.value | default('') | safe }}</textarea>
</div>
{% endmacro %}
