{% from "look-and-feel/components/fields.njk" import errorsFor, errorClass %}

{% macro date(dayField, monthField, yearField, hint='', legend='') %}
<fieldset class="form-group form-date {{ errorClass(field) }}">

    {% if legend %}
    <legend class="form-label-bold">{{ legend | safe }}</legend>
    {% endif %}

    {% if hint %}
    <span class="form-hint">{{ hint | safe }}</span>
    {% endif %}

    {{ errorsFor(dayField) }}
    {{ errorsFor(monthField) }}
    {{ errorsFor(yearField) }}

    <div class="form-group form-group-day">
        <label for="{{ dayField.id }}">Day</label>
        <input class="form-control {{ 'form-control-error' if dayField.errors }}" id="{{ dayField.id }}" type="number" pattern="[0-9]*" min="1" max="31"
               name="{{ dayField.id }}" value="{{ dayField.value }}">
    </div>

    <div class="form-group form-group-month">
        <label for="{{ monthField.id }}">Month</label>
        <input class="form-control {{ 'form-control-error' if monthField.errors }}" id="{{ monthField.id }}" type="number" pattern="[0-9]*" min="1" max="12"
               name="{{ monthField.id }}" value="{{ monthField.value }}">
    </div>

    <div class="form-group form-group-year">
        <label for="{{ yearField.id }}">Year</label>
        <input class="form-control {{ 'form-control-error' if yearField.errors }}" id="{{ yearField.id }}" type="number" pattern="[0-9]*" min="1"
               name="{{ yearField.id }}" value="{{ yearField.value }}">
    </div>

</fieldset>

{% endmacro %}

{% macro textarea(field, label, hint) %}

<div class="form-group {{ errorClass(field) }}">

    <label class="form-label" for="{{ field.id }}">{{ label | safe }}</label>

    {% if hint %}
    <span class="form-hint">{{ hint | safe }}</span>
    {% endif %}

    {{ errorsFor(field) }}
    <textarea class="form-control" id="{{ field.id }}" name="{{ field.id }}" rows="7">{{ field.value }}</textarea>
</div>
{% endmacro %}
