{% from "components/phase_banner.njk" import phaseBanner %}
{% from "footer/macro.njk" import govukFooter %}

{% block breadcrumbs %}
    {% call phaseBanner(commonContent[htmlLang], feedbackLink + urlPath) %}
        {{ banner | safe }}
    {% endcall %}
    {% if not hideBackButton %}
        <a class="govuk-back-link" href="#">{{ commonContent[htmlLang].back | safe }}</a>
    {% endif %}
{% endblock %}

{% block head -%}
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-T56C5T7');</script>
    <!-- End Google Tag Manager -->

    <link href="{{ asset_path }}vendors~main.css" media="screen" rel="stylesheet" />
    <link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
    <input id="asset-path" type="hidden" data-path="{{ asset_path }}">
{% endblock %}

{% block bodyStart %}
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-T56C5T7" title="GTM" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <noscript> <img alt="no javascript" src="/assets/images/noJS.png" width="1" height="1" /></noscript>
{% endblock %}

{% block footer %}
    {{ govukFooter({
        meta: {
            items: [
                {
                    href: "https://hmcts-access.service.gov.uk/contact-us",
                    text: commonContent[htmlLang].footer.contactUs | safe
                },
                {
                    href: "/accessibility",
                    text: commonContent[htmlLang].footer.accessibility | safe
                },
                {
                    href: "/cookie-policy",
                    text: commonContent[htmlLang].footer.cookies | safe
                },
                {
                    href: "/terms-and-conditions",
                    text: commonContent[htmlLang].footer.termsAndConditions | safe
                },
                {
                    href: "/privacy-policy",
                    text: commonContent[htmlLang].footer.privacyPolicy | safe
                }
            ]
        }
    }) }}
{% endblock %}

{% block bodyEnd %}
    <script src="{{ asset_path }}vendors~main.js" type="text/javascript"></script>
    <script src="{{ asset_path }}main.js" type="text/javascript"></script>
    <script src="{{ asset_path }}hmcts-webchat.js"></script>

{% if featureToggles.cookieBanner() == "true" %}
    <script src="https://code.jquery.com/jquery-1.10.2.js" integrity="sha384-r0tJvB87edk25TJle8mfwmdYBwaGtkX3r4CYHXS+2yZ7VPdI8xd2rHl6KTQ6oij4" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js" integrity="sha384-j8NDh7xgS5yD79FJaC4LVz+bUq+K2scg+IHBDYytSaAZEz+JXQocy0ByM2KqttBH" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js" integrity="sha384-VI5+XuguQ/l3kUhh4knz7Hxptx47wpQbVRDnp8v7Vvuhzwn1PEYb/uvtH6KLxv6d" crossorigin="anonymous"></script>
    <script src="{{ asset_path }}cookies-manager.js" type="text/javascript"></script>
{% endif %}

{% if webChatEnabled and htmlLang == "en" %}
        <script>
            /*
             * webchat_init() has been developed by CTSC and is defined in hmcts-webchat.js
             * uuid, tenant, channel and other parameters can be passed into it as below to configure
             * and customise the web-chat experience,
             * busHandlerURL: is another jQuery javascript that further customises the web-chat journey
             *
             * NOTE: URLs must be https and not behind a VPN for 8x8 to work with web-chat
             */
            webchat_init({
                uuid: '{{ webChat.uuid }}',
                tenant: '{{ webChat.tenant }}',
                channel: '{{ webChat.channel }}',
                buttonContainerId: 'ctsc-web-chat',
                textChatDown: '{{ commonContent[htmlLang].contactUs.webchat.textChatDown | replace("\n", "\\n") | safe }}',
                textChatWithAnAgent: '{{ commonContent[htmlLang].contactUs.webchat.textChatWithAnAgent | safe }}',
                textNoAgentsAvailable: '{{ commonContent[htmlLang].contactUs.webchat.textNoAgentsAvailable | safe }}',
                textAllAgentsBusy: '{{ commonContent[htmlLang].contactUs.webchat.textAllAgentsBusy | replace("\n", "\\n") | safe }}',
                textChatClosed : '{{ commonContent[htmlLang].contactUs.webchat.textChatClosed | replace("\n", "\\n") | safe }}',
                textChatAlreadyOpen: '{{ commonContent[htmlLang].contactUs.webchat.textChatAlreadyOpen | safe }}',
                textAdditional: '{{ commonContent[htmlLang].contactUs.webchat.textAdditional | replace("\n", "\\n") | safe }}',
                stylesheetURL: '{{ baseUrl }}{{ asset_path }}hmcts-webchat-gds-v3.css',
                busHandlerURL: '{{ baseUrl }}{{ asset_path }}hmcts-webchat-busHandler.js',
                btnNoAgents: '{{ webChat.btnNoAgents }}',
                btnAgentsBusy: '{{ webChat.btnAgentsBusy }}',
                btnServiceClosed: '{{ webChat.btnServiceClosed }}'
            });
            // insert before the body
        </script>
    {% endif %}
{% endblock %}
