{% from "look-and-feel/components/phase_banner.njk" import phaseBanner %}

{% block breadcrumbs %}
    {% call phaseBanner(phase) %}
        {{ banner | safe }}
    {% endcall %}
    <a class="link-back" href="#" onclick="history.go(-1); return false;">Back</a>
{% endblock %}

{% block head -%}
    <link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block cookie_message %}
    <p>
        GOV.UK uses cookies to make the site simpler.
        <a href="/cookie-policy" title="Find out more about cookies">Find out more about cookies</a>
    </p>
{% endblock %}

{% block footer_top %}
    <a href="/cookie-policy">Cookies</a>
{% endblock %}
