{% from "look-and-feel/components/phase_banner.njk" import phaseBanner %}

{% block breadcrumbs %}
    {% call phaseBanner(phase) %}
        {{ banner | safe }}
    {% endcall %}
    <a class="link-back" href="#" onclick="history.go(-1); return false;">Back</a>
{% endblock %}

{% block head -%}
    <!-- Google Tag Manager -->
    {% if environment === 'prod' %}
        <!-- Live analytics -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=UuZZs4BGR3tNzCze2MIbBw&gtm_preview=env-2&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T56C5T7');</script>
    {% else %}
        <!-- Dev analytics -->
        <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
        new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
        j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
        'https://www.googletagmanager.com/gtm.js?id='+i+dl+ '&gtm_auth=uYQEEAOU5-Kwl3yix5HG_A&gtm_preview=env-87&gtm_cookies_win=x';f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-T56C5T7');</script>
    {% endif %}
    <!-- End Google Tag Manager -->
    <link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
    <script src="{{ asset_path }}main.js" type="text/javascript"></script>
    <input id="asset-path" type="hidden" data-path="{{ asset_path }}">
{% endblock %}

{% block inside_header %}
    <div class="header-proposition">
        <a href="/" class="proposition-name">Appeal a benefit decision</a>
    </div>
{% endblock %}


{% block body_start %}
    <!-- Google Tag Manager (noscript) -->
    {% if environment === 'prod' %}
        <!-- Live analytics -->
        <noscript><iframe title="Google Tag Management" src="https://www.googletagmanager.com/ns.html?id=GTM-T56C5T7&gtm_auth=UuZZs4BGR3tNzCze2MIbBw&gtm_preview=env-2&gtm_cookies_win=x"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% else %}
        <!-- Dev analytics -->
        <noscript><iframe title="Google Tag Management" src="https://www.googletagmanager.com/ns.html?id=GTM-T56C5T7&gtm_auth=uYQEEAOU5-Kwl3yix5HG_A&gtm_preview=env-87&gtm_cookies_win=x"
                  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    {% endif %}
    <!-- End Google Tag Manager (noscript) -->
    <noscript> <img src="/assets/images/noJS.png" width="1" height="1" /></noscript>
{% endblock %}

{% block cookie_message %}
    <p>
        GOV.UK uses cookies to make the site simpler.
        <a href="/cookie-policy" title="Find out more about cookies">Find out more about cookies</a>
    </p>
{% endblock %}


    {% block footer_support_links %}
      <ul>
        <li><a href="https://hmcts-access.service.gov.uk/contact-us">Contact us</a></li>
        <li><a href="/terms-and-conditions">Terms and conditions</a></li>
        <li><a href="/cookie-policy">Cookies</a></li>
        <li><a href="/privacy-policy">Privacy policy</a></li>
      </ul>
    {% endblock %}