<div id="timeout-dialog" class="modal">
    <div class="modal-dialog-box" role="dialog" aria-labelledby="aria-timeout-label">
        <span class="govuk-visually-hidden-focusable" id="aria-timeout-label">
            <!-- content of aria label -->
        </span>
        <h2 class="icon-important red-inverse">{{ inactivityTimeout.title }}</h2>
        <p class="govuk-body" id="expiring-in-message">
            {{ inactivityTimeout.expiringIn }}
        </p>
        <p class="govuk-body">{{ inactivityTimeout.text }}</p>
        <p>
            <button class="govuk-button secondary extend" id="extend" href="#" rel="modal:close">{{ inactivityTimeout.yes }}</button>
            <button class="govuk-button secondary abort" id="destroy" href="#">{{ inactivityTimeout.no }}</button>
        </p>
    </div>
</div>
