{% macro pagination(prevLink="", prevLabel="", nextLink="", nextLabel="") %}
    <nav class="pagination" role="navigation" aria-label="Pagination">
        <ul class="pagination-list">
            {% if prevLink %}
                <li class="pagination-item pagination-prev">
                    <a class="pagination-link" href="{{ prevLink }}">
                        <span class="pagination-title">
                            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                <path fill="currentColor" d="m6.5938-0.0078125-6.7266 6.7266 6.7441 6.4062 1.377-1.449-4.1856-3.9768h12.896v-2h-12.984l4.2931-4.293-1.414-1.414z"></path>
                            </svg>
                            Previous
                        </span>
                        <span class="visually-hidden">:</span>
                        <span class="pagination-label">{{ prevLabel }}</span>
                    </a>
                </li>
            {% endif %}
            {% if nextLink %}
                <li class="pagination-item pagination-next">
                    <a class="pagination-link" href="{{ nextLink }}">
                        <span class="pagination-title">
                            Next
                            <svg class="pagination-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                                <path fill="currentColor" d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                            </svg>
                        </span>
                        <span class="visually-hidden">:</span>
                        <span class="pagination-label">{{ nextLabel }}</span>
                    </a>
                </li>
            {% endif %}
        </ul>
    </nav>
{% endmacro %}
