{#
  phaseBanner
    phase        - (default = 'ALPHA') One of ALPHA, BETA, LIVE
    feedbackLink - (default = '#') Link to feedback form
  Renders a phase banner. If phase is "LIVE" the banner will not be rendered.
  If called the call block will replace the banner content:
  ```
  {% call phaseBanner('ALPHA') %}
  This service is in Alpha.
  {% endcall %}
  ```
#}
{% from "components/phase-banner/macro.njk" import govukPhaseBanner %}

{% macro phaseBanner(content, urlPath='') %}
    {% if content.phaseBar.phase !== 'LIVE' %}
        {% set html %}
            {{ content.phaseBar.feedback | replace('{{smartSurveyFeedbackUrl}}', urlPath) | safe }}
            <a href="{{ content.phaseBar.languageToggle.link }}" class="govuk-link language">{{ content.phaseBar.languageToggle.text }}</a>
        {% endset %}

        {{ govukPhaseBanner({
            tag: {
                text: content.phaseBar.phase | safe
            },
            html: html
        }) }}
    {% endif %}
{% endmacro %}
