{#
  phaseBanner
    phase        - (default = 'ALPHA') One of ALPHA, BETA, LIVE
    feedbackLink - (default = '#') Link to feedback form

  Renders a phase banner. If phase is "LIVE" the banner will not be rendered.

  If called the call block will replace the banner content:
  ```
  {% call phaseBanner('ALPHA') %}
  This service is in Alpha.
  {% endcall %}
  ```
#}
{% from "components/phase-banner/macro.njk" import govukPhaseBanner %}

{% macro phaseBanner(phase='ALPHA', feedbackLink='#', urlPath= '') %}
{% if phase != 'LIVE' %}

    {% set html %}This is a new service – your <a class="govuk-link" target="_blank" rel="noopener noreferrer" href="{{ feedbackLink + urlPath }}">feedback</a> will help us improve it.{% endset %}
    {{ govukPhaseBanner({
        tag: {
            text: phase
        },
        html: html
    }) }}
{% endif %}
{% endmacro %}
