<link  href="https://{{ webChatClientUrl }}/chat-client/1/styles.css" rel="stylesheet"/>
<!--change back from pp to webChatClientUrl before merging-->
<script src="https://webchat-client.pp.ctsc.hmcts.net/chat-client/{{ commonContent[htmlLang].contactUs.webchat.jsFile }}/app-es2015.js" type="module"></script>
<script src="https://{{ webChatClientUrl }}/chat-client/1/app-es5.js" nomodule defer></script>

<web-chat class="hidden"
          chat-title="{{ commonContent[htmlLang].contactUs.webchat.chatTitle }}"
          chat-icon-url="https://{{ webChatClientUrl }}/chat-client/1/assets/icon.png"
          locale-url="{{ commonContent[htmlLang].contactUs.webchat.localeUrl }}"
          url="{{ webChatUrl }}"
          secure-connections="true"
          api-version="1.0"
          metrics-polling-interval="5"
          auth-token="tkn3214"
          route-point-identifier="Default"
          work-flow-type=""
          lease-time="24"
          priority="5"
          language="{{ commonContent[htmlLang].contactUs.webchat.language }}"
          service="SSCS"
          User="Chat"
          page-name="Appeal a benefit decision">
</web-chat>
