<link  href="https://webchat-client.ctsc.hmcts.net/chat-client/1/styles.css" rel="stylesheet"/>
<script src="https://webchat-client.ctsc.hmcts.net/chat-client/1/app-es2015.js" type="module"></script>
<script src="https://webchat-client.ctsc.hmcts.net/chat-client/1/app-es5.js" nomodule defer></script>

<web-chat class="hidden"
          chat-title="HMCTS Web Chat"
          chat-icon-url="https://webchat-client.ctsc.hmcts.net/chat-client/1/assets/icon.png"
          url="webchat.ctsc.hmcts.net"
          secure-connections="true"
          api-version="1.0"
          metrics-polling-interval="5"
          auth-token="tkn3214"
          route-point-identifier="Default"
          work-flow-type=""
          lease-time="24"
          priority="5"
          language="English"
          service="SSCS"
          User="Chat"
          page-name="Appeal a benefit decision">
</web-chat>
