<link  href="https://{{ webChatClientUrl }}/chat-client/{{ commonContent[htmlLang].contactUs.webchat.jsFile }}/styles.css" rel="stylesheet"/>
<script src="https://{{ webChatClientUrl }}/chat-client/{{ commonContent[htmlLang].contactUs.webchat.jsFile }}/app-es2015.js" type="module"></script>
<script src="https://{{ webChatClientUrl }}/chat-client/{{ commonContent[htmlLang].contactUs.webchat.jsFile }}/app-es5.js" nomodule defer></script>

<web-chat class="hidden"
          {% if process.env.NODE_ENV === 'preview' %}
          chat-title="test"
          {% else %}
          chat-title="{{ commonContent[htmlLang].contactUs.webchat.chatTitle }}"
          {% endif %}
          chat-icon-url="https://{{ webChatClientUrl }}/chat-client/{{ commonContent[htmlLang].contactUs.webchat.jsFile }}/assets/icon.png"
          locale-url="/assets/locale/{{ [htmlLang] }}-gb"
          url="{{ webChatUrl }}"
          secure-connections="true"
          api-version="1.0"
          metrics-polling-interval="5"
          auth-token="tkn3214"
          route-point-identifier="Default"
          work-flow-type=""
          lease-time="24"
          priority="5"
          {% if process.env.NODE_ENV === 'production' %}
          language = {{ commonContent[htmlLang].contactUs.webchat.language }}
          {% else %}
          language = "English"
          {% endif %}
          service="SSCS"
          User="Chat"
          page-name="{{ commonContent[htmlLang].contactUs.webchat.pageName }}">
</web-chat>
