{% extends "components/globals.html" %}
{% extends "layouts/two_thirds.html" %}
{% from "components/phase_banner.njk" import phaseBanner %}

{% block pageTitle %}{{ titleHead }}{% endblock %}

{% set title = cookies.title %}

{% block two_thirds %}

    <h1 class="govuk-heading-l">{{ privacy.title }}</h1>
    <p class="govuk-body">{{ privacy.description }}</p>

    <h2 class="govuk-heading-m">{{ manages.title }}</h2>
    <p class="govuk-body">{{ manages.managedBy }}</p>
    <p class="govuk-body">
        {{ manages.data.controller }}
        <a class="govuk-link" href="https://www.gov.uk/government/organisations/ministry-of-justice/about/personal-information-charter">{{ manages.data.link }}</a>
        {{ manages.data.process }}
    </p>

    <p class="govuk-body">{{ manages.responsible }}</p>
    <p class="govuk-body">
        {{ manages.moreInfo.service }}
        <a class="govuk-link" href="/terms-and-conditions">{{ manages.moreInfo.link }}</a>
    </p>

    <h2 class="govuk-heading-m">{{ whyWeCollect.title }}</h2>
    <p class="govuk-body">{{ whyWeCollect.collect }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for collect in whyWeCollect.collectList %}
            <li>{{ collect }}</li>
        {% endfor %}
    </ul>
    <p class="govuk-body">{{ whyWeCollect.staffUseData }}</p>

    <h2 class="govuk-heading-m">{{ personalData.title }}</h2>
    <p class="govuk-body">{{ personalData.collect }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for collect in personalData.collectList %}
            <li>{{ collect }}</li>
        {% endfor %}
    </ul>
    <p class="govuk-body">
        {{ personalData.more.data }}
        <a class="govuk-link" href="#using-data">{{ personalData.more.link }}</a>
    </p>

    <h2 id="using-data" class="govuk-heading-m">{{ usingYourData.title }}</h2>
    <p class="govuk-body">{{ usingYourData.account }}</p>
    <p class="govuk-body">{{ usingYourData.permission }}</p>
    <p class="govuk-body">
        {{ usingYourData.cookies.we }}
        <a class="govuk-link" href="/cookie-policy">{{ usingYourData.cookies.link }}</a>
        {{ usingYourData.cookies.collect }}
    </p>
    <ul class="govuk-list govuk-list--bullet">
        {% for data in usingYourData.dataList %}
        <li>{{ data }}</li>
        {% endfor %}
    </ul>

    <h2 class="govuk-heading-m">{{ storingData.title }}</h2>
    <p class="govuk-body">{{ storingData.dataProvided }}</p>
    <p class="govuk-body">
        {{ storingData.findOut.more }}
        <a class="govuk-link" href="#appeal-benefit-heading">{{ storingData.findOut.link }}</a>
    </p>

    <h2 class="govuk-heading-m">{{ shareDate.title }}</h2>
    <p class="govuk-body">{{ shareDate.involved }}</p>
    <p class="govuk-body">{{ shareDate.contact }}</p>
    <p class="govuk-body">{{ shareDate.share }}</p>
    <p class="govuk-body">
        {{ shareDate.google.used }}
        <a class="govuk-link" href="/terms-and-conditions">{{ shareDate.google.link }}</a>
    </p>

    <h2 class="govuk-heading-m">{{ internationally.title }}</h2>
    <p class="govuk-body">{{ internationally.outsideUK }}</p>

    <h2 class="govuk-heading-m">{{ yourRights.title }}</h2>
    <p class="govuk-body">{{ yourRights.ask }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for question in yourRights.questions %}
        <li>{{ question }}</li>
        {% endfor %}
    </ul>
    <p class="govuk-body">{{ yourRights.seeData }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>
            {{ yourRights.form.complete }}
            <a class="govuk-link" href="https://www.gov.uk/government/publications/request-your-personal-data-from-moj">{{ yourRights.form.link }}</a>
            {{ yourRights.form.controller }}
        </li>
        <li>{{ yourRights.write }}</li>
    </ul>
    <p class="govuk-body">{{ yourRights.moreInfo }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for info in yourRights.infoList %}
        <li>{{ info }}</li>
        {% endfor %}
    </ul>
    <p class="govuk-body">{{ yourRights.contactOfficer }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for contact in yourRights.contactList %}
        <li>{{ contact }}</li>
        {% endfor %}
    </ul>

    <h2 class="govuk-heading-m">{{ complain.title }}</h2>
    <p class="govuk-body">
        {{ complain.complaints.procedure }}
        <a class="govuk-link" href="https://www.gov.uk/government/organisations/hm-courts-and-tribunals-service/about/complaints-procedure">{{ complain.complaints.link }}</a>
        {{ complain.complaints.personalData }}
    </p>
    <p class="govuk-body">
        {{ complain.write }}<br>
        {{ complain.email }}
    </p>
    <p class="govuk-body">
        {{ complain.commissioner.canAlso }}
        <a class="govuk-link" href="https://ico.org.uk/global/contact-us">{{ complain.commissioner.link }}</a>
        {{ complain.commissioner.notSatisifed }}
    </p>

    <h2 id="appeal-benefit-heading" class="govuk-heading-l">{{ appealBenefit.title }}</h2>

    <h3 class="govuk-heading-m">{{ appealBenefit.personalData.title }}</h3>
    <p class="govuk-body">{{ appealBenefit.personalData.weAskFor }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for details in appealBenefit.personalData.yourDetails %}
        <li>{{ details }}</li>
        {% endfor %}
    </ul>
    <p class="govuk-body">{{ appealBenefit.personalData.rep }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for details in appealBenefit.personalData.repDetails %}
        <li>{{ details }}</li>
        {% endfor %}
    </ul>
    <p class="govuk-body">{{ appealBenefit.personalData.onBehalf }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for details in appealBenefit.personalData.theirDetails %}
        <li>{{ details }}</li>
        {% endfor %}
    </ul>

    <h3 class="govuk-heading-m">{{ appealBenefit.notifications.title }}</h3>
    <p class="govuk-body">{{ appealBenefit.notifications.receive }}</p>
    <p class="govuk-body">{{ appealBenefit.notifications.cancel }}</p>
    <p class="govuk-body">
        {{ appealBenefit.notifications.updates.rep }}
        <a class="govuk-link" href="/contact-us">{{ appealBenefit.notifications.updates.link }}</a>
    </p>

    <h3 class="govuk-heading-m">{{ appealBenefit.storing.title }}</h3>
    <p class="govuk-body">{{ appealBenefit.storing.shared }}</p>

    <h3 class="govuk-heading-m">{{ appealBenefit.after.title }}</h3>
    <p class="govuk-body">{{ appealBenefit.after.deleted }}</p>
    <p class="govuk-body">{{ appealBenefit.after.noDecision }}</p>
    <p class="govuk-body">{{ appealBenefit.after.complaint }}</p>

{% endblock %}
