description: Submit your appeal
name: sscs-tribunals-frontend
home: https://github.com/hmcts/sscs-submit-your-appeal
apiVersion: v2
appVersion: "1.0"
version: 0.2.44
maintainers:
  - name: HMCTS SSCS Team
dependencies:
  - name: nodejs
    version: 3.1.0
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
  - name: redis
    version: 17.0.11
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: idam-pr
    version: 2.2.6
    repository: 'https://hmctspublic.azurecr.io/helm/v1/repo/'
    condition: idam-pr.enabled
