description: Submit your appeal
name: sscs-tribunals-frontend
home: https://github.com/hmcts/sscs-submit-your-appeal
apiVersion: v1
appVersion: "1.0"
version: 0.2.7
maintainers:
  - name: HMCTS SSCS Team
