description: Submit your appeal
name: sscs-tribunals-frontend
home: https://github.com/hmcts/sscs-submit-your-appeal
apiVersion: v2
appVersion: "1.0"
version: 0.2.30
maintainers:
  - name: HMCTS SSCS Team
dependencies:
  - name: nodejs
    version: 2.4.4
    repository: '@hmctspublic'
  - name: redis
    version: 16.11.3
    repository: "https://charts.bitnami.com/bitnami"
    condition: redis.enabled
  - name: idam-pr
    version: 2.2.7
    repository: '@hmctspublic'
    condition: idam-pr.enabled
