nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    REDIS_URL: redis://${SERVICE_NAME}-redis-master
    APPINSIGHTS_ROLE_NAME: ${SERVICE_NAME}
    UV_THREADPOOL_SIZE: 4
    PCQ_URL: "https://pcq.aat.platform.hmcts.net"

  keyVaults:
    sscs:
      secrets:
        - idam-sscs-oauth2-client-secret
        - postcode-lookup-token
        - AppInsightsInstrumentationKey
        - pcq-token-key

redis:
  enabled: true
