nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  registerAdditionalDns:
    enabled: true
    prefix: iba
    primaryIngressHost: ${SERVICE_FQDN}
  autoscaling:
    enabled: false
  environment:
    NODE_ENV: "preview"
    REDIS_URL: redis://${SERVICE_NAME}-redis-master
    APPINSIGHTS_ROLE_NAME: ${SERVICE_NAME}
    PCQ_URL: "https://pcq.aat.platform.hmcts.net"
    WELSH_WEBCHAT_ENABLED: true
    WEBCHAT_URL: "webchat.pp.ctsc.hmcts.net"
    WEBCHAT_CLIENT_URL: "webchat-client.pp.ctsc.hmcts.net"
    WEBCHAT_OPENING_TIME_8_5: true
    KERV_WEBCHAT_ENABLED: true
    FT_WELSH: true
    PCQ_ENABLED: true
    IBC_NI_POSTCODES_FEATURE: true
  keyVaults:
    sscs:
      secrets:
        - idam-sscs-oauth2-client-secret
        - postcode-lookup-token
        - app-insights-connection-string
        - pcq-token-key
        - webchat-kerv-deployment-en
        - webchat-kerv-deployment-cy
        - webchat-kerv-genesys-base-url
        - webchat-kerv-environment
        - webchat-kerv-kerv-base-url
        - webchat-kerv-api-key

redis:
  enabled: true
  architecture: standalone
  auth:
    enabled: false

idam-pr:
  enabled: true
  redirect_uris:
    SSCS:
      - https://${SERVICE_FQDN}/authenticated # this is the application callback URL where IDAM will send back the authentication code. SERVICE_FQDN is injected by Jenkins.
      - https://iba-${SERVICE_FQDN}/authenticated

global:
  security:
    allowInsecureImages: true
