nodejs:
  image: ${IMAGE_NAME}
  ingressHost: ${SERVICE_FQDN}
  environment:
    REDIS_URL: redis://${SERVICE_NAME}-redis-master
    APPINSIGHTS_ROLE_NAME: ${SERVICE_NAME}
    PCQ_URL: "https://pcq.aat.platform.hmcts.net"
    FT_ANTENNA_WEBCHAT: false
    FT_ALLOW_UC_HEARING_OPTIONS: true
    FT_WELSH: true
    PCQ_ENABLED: true
  keyVaults:
    sscs:
      secrets:
        - idam-sscs-oauth2-client-secret
        - postcode-lookup-token
        - AppInsightsInstrumentationKey
        - pcq-token-key

redis:
  enabled: true
