{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/error.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/phase_banner.njk" import phaseBanner %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block breadcrumbs %}
    {% call phaseBanner(phase) %}
        {{ banner | safe }}
    {% endcall %}
{% endblock %}

{% block two_thirds %}

{{ header(title, size='large') }}

<p>{{ message }}</p>

<a class="button" href="/start-an-appeal">Try again</a>

{% if error and (settings.env == 'development' or settings.env == 'sandbox')  %}
<div class="form-group-error internal-server-error">
    <label>
        <span class="form-label-bold">Error Message</span>
        <span class="form-hint">This error message will only be displayed when the environment variable NODE_ENV is set to either development (local) or sandbox (CNP)</span>
        <span>{{ error }}</span>
    </label>
</div>
{% endif %}

{% endblock %}
