{% extends "layout/formPage.html" %}
{% from "look-and-feel/components/fields.njk" import textbox, formSection %}

{% set title %}
    {% if isAppointee %}
        {{ content.titleAppointee | safe }}
    {% else %}
        {{ content.titleNoAppointee | safe }}
    {% endif %}
{% endset %}

{% block fields %}

    {% call formSection() %}

        <p>{{ content.subtitle}}</p>

        {{ textbox(fields.firstName,            content.fields.firstName.title,             hint="") }}
        {{ textbox(fields.lastName,             content.fields.lastName.title,              hint="") }}
        {{ textbox(fields.niNumber,             content.fields.niNumber.title,              hint="") }}
        {{ textbox(fields.addressLine1,         content.fields.addressLine1.title,          hint="") }}
        {{ textbox(fields.addressLine2,         content.fields.addressLine2.title,          hint="") }}
        {{ textbox(fields.townCity,             content.fields.townCity.title,              hint="") }}
        {{ textbox(fields.postCode,             content.fields.postCode.title,              hint="") }}
        {{ textbox(fields.appellantPhoneNumber, content.fields.appellantPhoneNumber.title,  hint=fields.appellantPhoneNumber.hint) }}
        {{ textbox(fields.emailAddress,         content.fields.emailAddress.title,          hint=fields.emailAddress.hint) }}

    {% endcall %}

{% endblock %}
