{% extends "components/form-template.html" %}
{% from "components/fields.njk" import textbox, formSection, select %}
{% from "postcodeLookup/template.html" import postcodeLookup  %}

{% block pageTitle %}{{ content.titleHead }} - {{ commonContent[htmlLang].windowTitleSuffix }}{% endblock %}
{% set title = content.title %}

{% block fields %}
    {% call formSection() %}
        <p class="govuk-body">{{ content.subtitle }}</p>
        {{ textbox(fields.addressLine1,             content.fields.addressLine1.title,          hint="") }}
        {{ textbox(fields.addressLine2,             content.fields.addressLine2.title,          hint="") }}
        {{ textbox(fields.townCity,                 content.fields.townCity.title,              hint="") }}
        {{ select(fields.country,                   content.fields.country.title,               options=getCountries) }}
        {{ textbox(fields.phoneNumber,              content.fields.phoneNumber.title,           hint=content.fields.phoneNumber.hint) }}
        {{ textbox(fields.emailAddress,             content.fields.emailAddress.title,          hint=content.fields.emailAddress.hint) }}
    {% endcall %}
{% endblock %}
