<div class="govuk-visually-hidden" id="cookie-preference-success">
  <div class="gem-c-success-alert govuk-notification-banner govuk-notification-banner--success" role="alert" tabindex="-1" aria-labelledby="govuk-notification-banner-title-64523f81" data-module="initial-focus">
    <div class="govuk-notification-banner__content">
        <h3 class="govuk-notification-banner__heading">Your cookie settings were saved</h3>
        <p class="govuk-body">Government services may set additional cookies and, if so, will have their own cookie policy and banner.</p>
        <a class="govuk-link govuk-notification-banner__link cookie-settings__prev-page" href="/" data-module="gem-track-click" data-track-category="cookieSettings" data-track-action="Back to previous page" style="display: inline;">Go to homepage</a>
    </div>
  </div>
</div>