{% extends "components/globals.html" %}
{% extends "layouts/question.html" %}

{% set title = content.cookies.title | safe %}
{% set serviceName = "Submit your appeal" %}

{% block two_thirds %}
<h1 class="govuk-heading-l">{{ content.cookies.title }}</h1>
<p class="govuk-body">{{ content.cookies.description }}</p>

<h2 class="govuk-heading-m">{{ content.usedInService.title }}</h2>
<p class="govuk-body">{{ content.usedInService.uses }}</p>
<ul class="govuk-list govuk-list--bullet">
    <li>{{ content.usedInService.use1 }}</li>
    <li>{{ content.usedInService.use2 }}</li>
    <li>{{ content.usedInService.use3 }}</li>
</ul>
<p class="govuk-body">{{ content.usedInService.more }} <a class="govuk-link" href="http://www.aboutcookies.org/">{{ content.usedInService.manage }}</a>.</p>

<h2 class="govuk-heading-m">{{ content.howAreTheyUsed.title }}</h2>
<p class="govuk-body">{{ content.howAreTheyUsed.description }}</p>
<p class="govuk-body">{{ content.howAreTheyUsed.info }}</p>
<ul class="govuk-list govuk-list--bullet">
    <li>{{ content.howAreTheyUsed.info1 }}</li>
    <li>{{ content.howAreTheyUsed.info2 }}</li>
    <li>{{ content.howAreTheyUsed.info3 }}</li>
    <li>{{ content.howAreTheyUsed.info4 }}</li>
</ul>
<p class="govuk-body">{{ content.howAreTheyUsed.googleShare }} <a class="govuk-link" href="https://policies.google.com/privacy/partners?hl=en-GB&gl=uk">{{ content.howAreTheyUsed.googlePrivacyPolicy }}</a>.</p>
<p class="govuk-body">
    {{ content.howAreTheyUsed.optOut.youCan }} <a class="govuk-link" href="https://policies.google.com/privacy/partners?hl=en-GB&gl=uk">{{ content.howAreTheyUsed.optOut.google }}</a> {{ content.howAreTheyUsed.optOut.access }}
</p>

<p class="govuk-body">{{ content.howAreTheyUsed.googleCookies }}</p>
<table class="govuk-table">
    <caption class="govuk-visually-hidden">{{ content.howAreTheyUsed.googleCookies }}</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">{{ content.howAreTheyUsed.cookieTable.columnName1 }}</th>
        <th class="govuk-table__header" scope="col">{{ content.howAreTheyUsed.cookieTable.columnName2 }}</th>
        <th class="govuk-table__header" scope="col">{{ content.howAreTheyUsed.cookieTable.columnName3 }}</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ content.howAreTheyUsed.cookieTable.item1Name }}</td>
        <td class="govuk-table__cell">{{ content.howAreTheyUsed.cookieTable.item1Purpose }}</td>
        <td class="govuk-table__cell">{{ content.howAreTheyUsed.cookieTable.item1Expires }}</td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ content.howAreTheyUsed.cookieTable.item2Name }}</td>
        <td class="govuk-table__cell">{{ content.howAreTheyUsed.cookieTable.item2Purpose }}</td>
        <td class="govuk-table__cell">{{ content.howAreTheyUsed.cookieTable.item2Expires }}</td>
    </tr>
    </tbody>
</table>

<h2 class="govuk-heading-m">{{ content.introMessage.title }}</h2>
<p class="govuk-body">{{ content.introMessage.description }}</p>
<table class="govuk-table">
    <caption class="govuk-visually-hidden">{{ content.introMessage.title }}</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">{{ content.introMessage.cookieTable.columnName1 }}</th>
        <th class="govuk-table__header" scope="col">{{ content.introMessage.cookieTable.columnName2 }}</th>
        <th class="govuk-table__header" scope="col">{{ content.introMessage.cookieTable.columnName3 }}</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ content.introMessage.cookieTable.item1Name }}</td>
        <td class="govuk-table__cell">{{ content.introMessage.cookieTable.item1Purpose }}</td>
        <td class="govuk-table__cell">{{ content.introMessage.cookieTable.item1Expires }}</td>
    </tr>
    </tbody>
</table>

<h2 class="govuk-heading-m">{{ content.sessionCookie.title }}</h2>
<p class="govuk-body">{{ content.sessionCookie.description }}</p>
<table class="govuk-table">
    <caption class="govuk-visually-hidden">{{ content.sessionCookie.title }}</caption>
    <thead class="govuk-table__head">
    <tr class="govuk-table__row">
        <th class="govuk-table__header" scope="col">{{ content.sessionCookie.cookieTable.columnName1 }}</th>
        <th class="govuk-table__header" scope="col">{{ content.sessionCookie.cookieTable.columnName2 }}</th>
        <th class="govuk-table__header" scope="col">{{ content.sessionCookie.cookieTable.columnName3 }}</th>
    </tr>
    </thead>
    <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ content.sessionCookie.cookieTable.item1Name }}</td>
        <td class="govuk-table__cell">{{ content.sessionCookie.cookieTable.item1Purpose }}</td>
        <td class="govuk-table__cell">{{ content.sessionCookie.cookieTable.item1Expires }}</td>
    </tr>
    <tr class="govuk-table__row">
        <td class="govuk-table__cell">{{ content.sessionCookie.cookieTable.item2Name }}</td>
        <td class="govuk-table__cell">{{ content.sessionCookie.cookieTable.item2Purpose }}</td>
        <td class="govuk-table__cell">{{ content.sessionCookie.cookieTable.item2Expires }}</td>
    </tr>
    </tbody>
</table>
{% endblock %}
