{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, errorsFor, errorClass %}
{% from "components/formElements.html" import textarea %}

{% block head -%}
    <link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
{% endblock %}

{% set phase="ALPHA" %}
{% set feedbackLink="https://github.com/hmcts/one-per-page/issues/new" %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

<p>{{ content.clickAllArrangements | safe }}</p>
<p>{{ content.cannotBringInterpreter | safe }}</p>

{% call formSection() %}

    {{
        selectionButtons(
            field = fields.selection,
            question = '',
            hideQuestion = true,
            hint = '',
            inline = false,
            type = 'checkbox',
            options = [
                { label: content.fields.selection.languageInterpreter,      value: 'languageInterpreter' },
                { label: content.fields.selection.signLanguageInterpreter,  value: 'signLanguageInterpreter' },
                { label: content.fields.selection.hearingLoop,              value: 'hearingLoop' },
                { label: content.fields.selection.disabledAccess,           value: 'disabledAccess' }
            ]
        )
    }}

    {{ textarea(fields.anythingElse, content.fields.anythingElse.title, hint="") }}

{% endcall %}

{% endblock %}

{% block after_form %}

<div class="after-form">
    <p><a class="link" href="/hearing-availability">{{ content.doNotNeedArrangements }}</a></p>
</div>
{% endblock %}

