@import 'check-your-answers';

.add-another-edit-link {
  padding-right: 1em;
}

.add-another-list {
  @extend .check-your-answers;
  @extend .cya-questions-short
}

.add-another-list-item {
  @extend .cya-answer;

  padding-top: em(12, 19);
  padding-right: 7em;
  @include govuk-media-query($from: desktop) {
    padding-right: 0;
  }
}

.add-another-list-controls {
  @extend .cya-change;
  padding-top: em(12, 19);
  min-width: 6.5em;
}
