#date-picker-content {
  display: none;
}

#date-picker {

  .datepicker-inline {
    width: 70%;
    table {

      table-layout: fixed;

      thead {
        tr {
          th {
            text-align: center;

            &.dow {
              padding-right: 0;
              background-color: govuk-colour('grey-4');
            }
            &.disabled {
              visibility: visible;
              opacity: 0.5;
            }
          }

          .prev, .next {
            background-color: govuk-colour('grey-2');
            border-radius: 0;
          }

          .datepicker-switch {
            background-color: govuk-colour('grey-2');
            border-radius: 0;
          }

        }
      }

      tbody {
        tr {
          &:first-child {
            border-top: 2px solid govuk-colour('grey-1');
          }
          &:last-child {
            border-bottom: 2px solid govuk-colour('grey-1');
          }
          td {
            color: black;
            border-radius: 0;
            &:not(.disabled) {
              border-left: 1px solid govuk-colour('grey-3');
              border-top: 1px solid govuk-colour('grey-3');
            }
            font-weight: 600;
            height: 57px;
            padding: 0;
            vertical-align: top;
            text-align: left;
            width: 100%;
            display: table-cell;
            &.active {
              background-color: #76B2D2;
            }

            &.day:hover, &.day.focused {
                &:not(.disabled) {
                  background-color: #BBD9E9;
                }
              }

            &.disabled {
              background: url("../images/date-disabled.png");
              font-weight: 400;
              .first-of-month {
                margin-top: 28px;
              }
            }

            &:last-child {
              border-right: 1px solid govuk-colour('grey-3');
            }

            &.day {
              span {
                display: inline-block;
                padding-top: 3px;
                padding-left: 5px;
                line-height: 110%;
                height: 20px;
                margin: 0;
              }
            }

            .first-of-month {
              margin: 28px 0 0 0;
              line-height: 1.6;
              background-color: govuk-colour('grey-1');
              color: white;
              text-align: center;
            }
          }
        }
      }
    }
  }
}

@media (max-width: 480px) {
  #date-picker {
    table {
      width: 140%;
    }
  }
}

@media (min-width: 641px) and (max-width: 750px) {
  #date-picker {
    table {
      width: 120%;
    }
  }
}
