@use 'govuk-frontend' as *;

nav.document-download-list {
  .govuk-download__icon {
    display: inline-block;
    background-position: 0 0;
    background-repeat: no-repeat;

    height: 20px;
    width: 15px;
    vertical-align: middle;
    margin-right: 13px;
    background-size: 100%;

    background-image: url('/assets/images/icons/icon-file-download.png');
  }

  @media only screen and (-webkit-min-device-pixel-ratio: 2),
    not all,
    not all,
    not all,
    only screen and (min-resolution: 192dpi),
    only screen and (min-resolution: 2dppx) {
    .icon-file-download {
      background-image: url('/assets/images/icons/icon-file-download-2x.png');
      background-size: 100%;
    }
  }
}
