/* Hide for both screenreaders and browsers */
.hidden,
.js-enabled .js-hidden {
  display: none;
  visibility: hidden; }

/* Hide only visually, but have it available for screenreaders */
.visually-hidden,
.visuallyhidden {
  position: absolute;
  left: -9999em;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
  /*
   * Extends the .visuallyhidden class to allow the element to be
   * focusable when navigated to via the keyboard
   */ }
  .visually-hidden.focusable:active, .visually-hidden.focusable:focus,
  .visuallyhidden.focusable:active,
  .visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto; }

.govuk-header nav {
  float: right;
  margin: 0;
}

.govuk-header__menu-button {
  display: none !important;
}

.govuk-header__navigation {
  display: block !important;
}

@include govuk-media-query($until: tablet) {
  .govuk-header__navigation-item {
    padding: 2px 0 !important;
  }
}

.govuk-header__navigation-item {
  border-bottom: none !important;
}
