$ring-diameter: 30px;
$ring-border: 6px;

@mixin wrap-dwp-and-hearing-booked-text {
  margin-bottom: 20%;
  .dwp-respond h4,
  .ibca-respond h4,
  .hearing-booked h4 {
    position: absolute;
    white-space: normal;
    text-align: center;
    width: 75px;
    right: -9%;
  }
}

@mixin wrap-progress-bar-text {
  @media (min-width: 640px) and (max-width: 900px) {
    @include wrap-dwp-and-hearing-booked-text;
  }
  @media (min-width: 401px) and (max-width: 520px) {
    @include wrap-dwp-and-hearing-booked-text;
  }
}

@mixin h-progress-bar {
  @media screen and (min-width: 401px) {
    margin: 10% 2% 15% 2%;

    .appeal-received,
    .dwp-respond,
    .ibca-respond,
    .hearing-booked,
    .hearing {
      display: inline-block;
      position: relative;

      .leg {
        display: inherit;
        position: relative;
        height: 6px;
        width: calc(100% - 45px);
        margin-right: -5px;
        margin-bottom: 17px;
        border-bottom: 6px solid govuk-colour('green');
      }

      .ring {
        display: inherit;
        position: relative;
        z-index: 1;
        border-radius: 50%;
        border: $ring-border solid govuk-colour('green');
        width: $ring-diameter;
        height: $ring-diameter;
      }

      .tick {
        display: none;
      }

      &.active {
        .ring {
          background-color: govuk-colour('green');
          .tick {
            top: 5px;
            left: 3px;
            width: 23px;
            height: 19px;
            display: block;
            position: absolute;
          }
        }
      }

      h4 {
        position: absolute;
        &.current {
          font-weight: bold;
        }
      }
    }

    .appeal-received h4 {
      left: -12%;
    }

    .dwp-respond h4,
    .ibca-respond h4,
    .hearing-booked h4 {
      right: -22%;
    }

    .hearing h4 {
      right: -3%;
    }

    .dwp-respond,
    .ibca-respond,
    .hearing-booked,
    .hearing {
      width: calc((100% - #{$ring-diameter} - #{$ring-border} ) / 3);
      &.paper {
        width: calc((100% - #{$ring-diameter} - #{$ring-border} ) / 2);
      }
      margin-left: -7px;
      margin-right: -1px;
    }
  }
}
