.nav-container {
  padding-bottom: 15px;
  border-bottom: 1px solid $grey-2;

  .nav-section {
    font-size: 16px;
    line-height: 30px;
    margin-bottom: 20px;

    .nav-list {
      list-style-type: none;
      padding-left: 20px;

      li {
        &:before {
          content: '— ';
          margin-left: -25px;
          padding-right: 5px;
        }
      }
    }
  }
}

@media (max-width: 640px) {
  .nav-list {
    column-count: 1;
    padding-left: 0;

    li {
      margin-left: 1.5em;
      padding-left: 0.3em;
    }
  }
}

.part-title {
  @include bold-27;
  margin-bottom: $gutter-half;
  margin-top: $gutter-half;

  @include media(tablet) {
    margin-bottom: $gutter-two-thirds;
    margin-top: $gutter-two-thirds;
  }
}

.pagination {
  margin: 30px -15px;

  .pagination-list {

    .pagination-item {
      font-size: 16px;
      line-height: 1.25;
      list-style: none;
      width: 50%;

      &.pagination-next {
        float: right;
        text-align: right;
      }

      &.pagination-prev {
        float: left;
        text-align: left;
      }

      .pagination-link {
        display: block;
        padding: 15px;
        text-decoration: none;

        &:hover {
          background-color: $grey-4;
        }

        &:visited {
          color: #005ea5;
        }

        .pagination-title {
          font-size: 27px;
          line-height: 1.25;
          display: block;
        }

        .pagination-icon {
          margin-bottom: 1px;
          height: .482em;
          width: .63em;
        }

        .pagination-label {
          display: inline-block;
          margin-top: 0.1em;
          text-decoration: underline;
        }
      }
    }
  }
}

.govuk-related-items {
  border-top: 2px solid $govuk-blue;
  padding-top: 5px;

  .heading-small {
    margin-bottom: .5em;
    margin-top: .3em;
  }

  nav {
    margin-bottom: 30px;

    .sub-heading {
      font-size: 16px;
      line-height: 1.25;
      border-top: 1px solid #bfc1c3;
      padding-top: 15px;
    }

    li {
      list-style-type: none;
      margin-top: 10px;
    }
  }
}
