@import 'govuk-elements';
@import '~accessible-autocomplete/src/autocomplete.css';
@import '~jquery-modal/jquery.modal.css';
@import 'look-and-feel/check-your-answers';
@import 'bootstrap-datepicker1.8.0.min';
@import 'date-picker';

.form-section {
  margin-bottom: 30px;
}

p.contact-us::first-line {
  font-weight: bold;
}

label.form-label[for="signer"] {
  font-weight: bold;
}

#name {
  .form-group:last-child {
    margin-bottom: 0;
  }
}

#item\.whatYouDisagreeWith,
#item\.reasonForAppealing,
#otherReasonForAppealing {
  width: 100%;
}

.autocomplete__wrapper {
  max-width: 365px;
}

.after-form {
  padding-top: 4em;

  &.time-out-message {
    color: #454a4c;
    font-size: 16px;
  }
}

.mrn-image {
  padding-bottom: 1.5em;
  width: 100%;

  &.issuing-office {
    padding-bottom: 0;
  }
}

.confirmation-image {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  width: 100%;
}

#addressLine1, #addressLine2, #townCity, #county, #emailAddress, #firstName, #lastName, #selection\.anythingElse\.language, #reasonForBeingLate, #reasonForNoMRN {
  &.form-control {
    @extend .form-control-3-4;
  }
}

#postcode, #nino {
  &.form-control {
    @extend .form-control-1-4;
  }
}

#title, #pipNumber {
  &.form-control {
    @extend .form-control-1-8;
  }
}

#check-mrn {
  padding-bottom: 30px;
}

.description {
  background-color: #eef7ff;
  padding: 20px 20px 30px 20px;
  margin-bottom: 45px;
}

.banner-blue h1{
  width: 100%;
  background: #005ea5;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  padding: {
    top: 30px;
    bottom: 30px;
    left:29px;
  };
}

.nav-list {
  column-count: 2;
  column-gap: 6em;
  list-style-type: decimal;
  padding-left: 20px;
  font-size: 16px;
  line-height: 30px;
}

.internal-server-error {
  margin-top: 30px;
}

@media (max-width: 640px) {
  .nav-list {
    column-count: 1;
    padding-left: 0;

    li {
      margin-left: 1.5em;
      padding-left: 0.3em;
    }
  }
}

.govuk-related-items {
  border-top: 10px solid $govuk-blue;
  margin-top: $gutter;
  padding-top: 5px;

  .heading-medium {
    margin-bottom: .5em;
    margin-top: .3em;
  }

  li {
    list-style-type: none;
    margin-bottom: 10px;
  }
}

.add-another-list div {

  &:not(.noItems) {
    padding: 15px 0;
    width: 100%;
    border-bottom: 1px solid $border-colour;

    &:first-child {
      border-top: 1px solid $border-colour;
    }
  }

  .add-another-list-item {
    width: 65%;
    display: inline-block;
  }

  .add-another-list-controls{
    display: inline-block;
    float: right;
    width: 30%;

    .add-another-edit-link {
      padding-right: 40%;
    }
  }
}

.add-another-add-link{
  @include button($grey-3);
}

.policy-links {
  a {
    padding-right: 10%
  }
}

.cya-whatYouDisagreeWith {
  dt, dd {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.cya-hearingArrangements {
  dt, dd {
    border-bottom: none;
    padding-bottom: 0;
  }

  &:last-child {
    dt, dd {
      border-bottom: 1px solid #bfc1c3;
    }
  }
}
.modal {

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;

  padding: 0;

  .modal-dialog-box {

    h2 {
      background-color: #df3034;
      background-position: 15px center;
      background-repeat: no-repeat;
      color: $white;
      font-size: 19px;
      font-weight: bold;
      line-height: 60px;
      padding-left: 60px;
      &.icon-important {
        width: auto;
        height: auto;
        background-image: url('/assets/images/icon-important-red-inverse.png');
      }
    }

    p {
      margin: 15px;
      font-size: 19px;
      a {
        margin-left: 5px;
        &:focus {
          background-color: transparent;
          border: 3px solid $yellow;
        }
      }
    }
    .button {
      width: inherit;
    }
    .button.abort {
      margin-left: 30px;
      @include button($grey-3);
    }
  }
}
