@import 'govuk-elements';
@import '~accessible-autocomplete/src/autocomplete.css';
@import '~jquery-modal/jquery.modal.css';
@import 'look-and-feel/check-your-answers';
@import 'bootstrap-datepicker1.8.0.min';
@import 'date-picker';
@import 'h-progress-bar';
@import 'v-progress-bar';
@import 'landing-pages';
@import 'super-wrap';

.form-section {
  margin-bottom: 30px;
}

p.contact-us::first-line {
  font-weight: bold;
}

label.form-label[for="signer"] {
  font-weight: bold;
}

#name {
  .form-group:last-child {
    margin-bottom: 0;
  }
}

#item\.whatYouDisagreeWith,
#item\.reasonForAppealing,
#otherReasonForAppealing,
#describeTheEvidence {
  width: 100%;
}

.autocomplete__wrapper {
  max-width: 365px;
}

.after-form {
  padding-top: 2em;

  &.time-out-message {
    color: #454a4c;
    font-size: 16px;
  }
}

.mrn-image {
  padding-bottom: 1.5em;
  width: 100%;

  &.issuing-office {
    padding-bottom: 0;
  }
}

.confirmation-image {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  width: 100%;
}

#addressLine1, #addressLine2, #townCity, #county, #emailAddress, #firstName, #lastName, #selection\.anythingElse\.language, #reasonForBeingLate, #reasonForNoMRN {
  &.form-control {
    @extend .form-control-3-4;
  }
}

#postcode, #nino {
  &.form-control {
    @extend .form-control-1-4;
  }
}

#name\.title, #pipNumber {
  &.form-control {
    @extend .form-control-1-8;
  }
}

#title {
  &.form-control {
    @extend .form-control-1-4;
  }
}

#check-mrn {
  padding-bottom: 30px;
}

.description {
  background-color: #eef7ff;
  padding: 20px 20px 30px 20px;
  margin-bottom: 45px;
}

.banner-blue h1{
  background: #005ea5;
  margin-top: 30px;
  margin-bottom: 30px;
  color: white;
  padding: {
    top: 30px;
    bottom: 30px;
    left:29px;
  };
  @media (min-width: 641px) {
    width: 100%;
  }
}

.internal-server-error {
  margin-top: 30px;
}

.add-another-list {

  border-top: 1px solid $border-colour;

  > * {
    border-bottom: 1px solid $border-colour;
    padding: 15px 0;
  }

  .add-another-list-item {
    width: 65%;
    display: inline-block;
    @include wrap;
    &.noItems {
      width: 100%;
    }
  }

  .add-another-list-controls {
    display: inline-block;
    float: right;
    width: 35%;

    .add-another-edit-link {
      padding-right: 40%;
    }
  }
}

.add-another-add-link, [for=uploadEv]{
  @include button($grey-3);
}

.policy-links {
  a {
    padding-right: 10%
  }
}

.cya-whatYouDisagreeWith {
  dt, dd {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.cya-hearingArrangements {
  dt, dd {
    border-bottom: none;
    padding-bottom: 0;
  }

  &:last-child {
    dt, dd {
      border-bottom: 1px solid #bfc1c3;
    }
  }
}
.modal {

  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;

  padding: 0;

  .modal-dialog-box {

    h2 {
      background-color: #df3034;
      background-position: 15px center;
      background-repeat: no-repeat;
      color: $white;
      font-size: 19px;
      font-weight: bold;
      line-height: 60px;
      padding-left: 60px;
      &.icon-important {
        width: auto;
        height: auto;
        background-image: url('/assets/images/icon-important-red-inverse.png');
      }
    }

    p {
      margin: 15px;
      font-size: 19px;
      a {
        margin-left: 5px;
        &:focus {
          background-color: transparent;
          border: 3px solid $yellow;
        }
      }
    }
    .button {
      width: inherit;
    }
    .button.abort {
      margin-left: 30px;
      @include button($grey-3);
    }
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  top: -999px;
  left: -999px;
}

.progress-bar {

  // Display a horizontal progress bar when on larger devices.
  @include h-progress-bar;

  // Display a vertical progress bar when on smaller devices.
  @include v-progress-bar;

  // Wrap the progress bar text depending what device you're on.
  @include wrap-progress-bar-text;
}

.events {
  background-color: #eef7ff;
  padding: 20px 20px;

  .heading-small {
    margin-top: 0;
    padding-bottom: 10px;
  }

  a {
    display: block;
    padding-bottom: 20px;
  }

  details {

    summary {
      span {
        margin-left: -5px;
      }
    }

    div {
      position: relative;
      padding-top: 15px;
      padding-bottom: 10px;
      a {
        display: block;
        padding-bottom: 15px;
      }
    }

    div:after {
      content: "";
      background: $grey-2;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 95%;
      height: 1px;
    }

    div:last-child {
      padding-bottom: 0;
    }

    div:last-child:after {
      display: none;
    }
  }
}



#dynamic-form {
  .items-container {

    input, textarea {
      width: 100%;
    }

    .form-group:last-child {
      padding-bottom: 20px;
      border-bottom: 2px solid $grey-2;
    }
  }
}

#evidence-upload-form .error-message {
  margin-top: 20px;
}

.cya-answer {
  @include wrap;
}

.header-proposition {
  clear: both;
  .proposition-name {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
    margin: 5px 15px 0 15px;
    font-size: 18px;
    line-height: 1.2;

    &:link,
    &:visited {
      color: white;
    }
  }
}

@media (min-width: 641px) {
  #global-header .header-proposition .proposition-name {
      font-size: 24px;
      line-height: 1.25;
  }
}

@media (min-width: 769px) {
  #global-header .header-proposition {
    width: 66.66%;
    float: left;
    clear: none;
  }
}