@import '~govuk-frontend/govuk/all';
@import 'language-switch';
@import 'cookie-banner';
@import 'text-reference';
@import 'progress-list';
@import 'document-list';
@import '~accessible-autocomplete/src/autocomplete.css';
@import '~jquery-modal/jquery.modal.css';
@import 'bootstrap-datepicker1.8.0.min';
@import 'date-picker';
@import 'h-progress-bar';
@import 'v-progress-bar';
@import 'super-wrap';
@import 'phase-banner';
@import 'web-chat';
@import '../../components/postcodeLookup/assets/main';

p.contact-us::first-line {
  font-weight: bold;
}

label.form-label[for="signer"] {
  font-weight: bold;
}

#name {
  .govuk-form-group:last-child {
    margin-bottom: 0;
  }
}

#item\.whatYouDisagreeWith,
#item\.reasonForAppealing,
#otherReasonForAppealing,
#describeTheEvidence {
  width: 100%;
}

.autocomplete__wrapper {
  max-width: 365px;
}

.autocomplete__input, .autocomplete__option  {
  @extend .govuk-body;
  margin: 0;
}

.autocomplete__option--focused  {
  color: govuk-colour("white");
}

.after-form {

  &.time-out-message {
    color: $govuk-secondary-text-colour;
    @extend .govuk-body;
    font-size: 16px;
  }

  p {
    margin: 0;
  }
}


.mrn-image {
  padding-bottom: 1.5em;
  width: 100%;

  &.issuing-office {
    padding-bottom: 0;
  }
}

.confirmation-image {
  padding-top: 2.5em;
  padding-bottom: 2.5em;
  width: 100%;
}

#addressLine1, #addressLine2, #townCity, #county, #emailAddress, #firstName, #lastName, #selection\.anythingElse\.language, #reasonForBeingLate, #reasonForNoMRN  {
  &.govuk-input {
    @extend .govuk-\!-width-three-quarters;
  }
}

#postCode, #phoneNumber, #enterMobile, #name\.first, #name\.last, #name\.organisation, #signer {
  &.govuk-input {
    @extend .govuk-\!-width-one-half;
  }
}

#postcode, #nino {
  &.govuk-input {
    @extend .govuk-\!-width-one-quarter;
  }
}

#name\.title {
  &.govuk-input {
    width: 100% !important;

    @include govuk-media-query($from: tablet) {
      width:12.5% !important;
    }
  }
}

#title {
  &.govuk-input {
    @extend .govuk-\!-width-one-quarter;
  }
}

.description {
  background-color: #eef7ff;
  padding: 20px 20px 30px 20px;
  margin-bottom: 45px;
}

.banner-blue h1{
  background: #005ea5;
  margin-bottom: 30px;
  color: white;
  padding: {
    top: 30px;
    bottom: 30px;
    left:29px;
  };
  @media (min-width: 641px) {
    max-width: 100%;
  }
}

.internal-server-error {
  margin-top: 30px;
}

.duplicate-case-error {
  margin-top: 30px;
}

.policy-links {
  a {
    padding-right: 10%
  }
}

.cya-whatYouDisagreeWith {
  dt, dd {
    border-bottom: none;
    padding-bottom: 0;
  }
}

.cya-hearingArrangements {
  dt, dd {
    border-bottom: none;
    padding-bottom: 0;
  }

  &:last-child {
    dt, dd {
      border-bottom: 1px solid #bfc1c3;
    }
  }
}
.modal {
  @extend .govuk-body;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -o-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;

  padding: 0;

  .modal-dialog-box {

    h2 {
      background-color: #df3034;
      background-position: 15px center;
      background-repeat: no-repeat;
      color: govuk-colour('white');
      font-size: 19px;
      font-weight: bold;
      line-height: 60px;
      padding-left: 60px;
      &.icon-important {
        width: auto;
        height: auto;
        background-image: url('/assets/images/icon-important-red-inverse.png');
      }
    }

    p {
      margin: 15px;
      font-size: 19px;
      a {
        margin-left: 5px;
        &:focus {
          background-color: transparent;
          border: 3px solid govuk-colour('yellow');
        }
      }
    }
  }
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: absolute !important;
  top: -999px;
  left: -999px;
}

.progress-bar {

  // Display a horizontal progress bar when on larger devices.
  @include h-progress-bar;

  // Display a vertical progress bar when on smaller devices.
  @include v-progress-bar;

  // Wrap the progress bar text depending what device you're on.
  @include wrap-progress-bar-text;
}

.events {
  background-color: #eef7ff;
  padding: 20px 20px;

  .govuk-heading-s {
    margin-top: 0;
    padding-bottom: 10px;
  }

  a {
    display: block;
    padding-bottom: 20px;
  }

  details {

    summary {
      span {
        margin-left: -5px;
      }
    }

    div {
      position: relative;
      padding-top: 15px;
      padding-bottom: 10px;
      a {
        display: block;
        padding-bottom: 15px;
      }
    }

    div:after {
      content: "";
      background: govuk-colour('light-grey');
      position: absolute;
      bottom: 0;
      left: 0;
      width: 95%;
      height: 1px;
    }

    div:last-child {
      padding-bottom: 0;
    }

    div:last-child:after {
      display: none;
    }
  }
}



#dynamic-form {
  .items-container {

    input, textarea {
      width: 100%;
    }

    .govuk-form-group:last-child {
      padding-bottom: 20px;
      border-bottom: 2px solid govuk-colour('light-grey');
    }
  }
}

#evidence-upload-form .govuk-error-message {
  margin-top: 20px;
}

.cya-answer {
  @include wrap;
}

.header-proposition {
  clear: both;
  .proposition-name {
    font-size: 24px;
    line-height: 1.25;
    font-weight: bold;
    white-space: nowrap;
    text-decoration: none;
    margin-top: 5px;
    display: inline-block;
    margin: 5px 15px 0 15px;
    font-size: 18px;
    line-height: 1.2;

    &:link,
    &:visited {
      color: white;
    }
  }
}

@media (min-width: 641px) {
  #global-header .header-proposition .proposition-name {
      font-size: 24px;
      line-height: 1.25;
  }
}

@media (min-width: 769px) {
  #global-header .header-proposition {
    width: 66.66%;
    float: left;
    clear: none;
  }
}

.hint-text {
  @extend .govuk-body;
  @extend .govuk-\!-font-size-16;
  color: $govuk-secondary-text-colour;
  display:block;
}

.panel {
  @extend .govuk-details__text;
  margin-bottom:10px;
}

.hidden,
.js-enabled .js-hidden {
  display: none;
  visibility: hidden; }

.add-another-add-link, [for=uploadEv]{
  @extend .govuk-button;
  @extend .govuk-button--secondary;
}

.form-buttons-group {
  line-height: 2.375rem;

  .govuk-link {
    @include govuk-media-query($from: tablet) {
      @include govuk-responsive-margin(3, "left");
    }
  }
}
#ctsc-web-chat {
  p {
    margin-bottom:0;
  }
  a {
    @extend .govuk-link;
  }
}

.text-center {
  text-align: center;
}

.govuk-header__content {
  @include govuk-media-query($from: desktop) {
    width: 60%
  }
}

.govuk-header__link--signout {
  margin-top:5px;
  float:right;
  font-weight:700;
}

.nowrap {
  white-space: nowrap;
}

.web-chat-link {
  a {
    @extend .govuk-link;
  }
}
