@import 'govuk-elements';
@import '~accessible-autocomplete/src/autocomplete.css';

.no-image {
  color: red;
  padding-top: 15px;
}

.after-form {
  padding-top: 1.5em;
}

.mrn-image {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
}
