@use 'govuk-frontend' as *;

/*
Progress
*/

$module: 'progress';

.#{$module} {
  overflow: hidden;
  position: relative;

  &:before {
    background-color: govuk-colour('green');
    content: '';
    height: 6px;
    position: absolute;
    top: 19px;
    left: 0;
    width: 100%;
  }

  &__list {
    font-size: 0.1px; // hide whitespace between elements
    position: relative;
    text-align: justify;
    vertical-align: top;

    &::after {
      content: '';
      display: inline-block;
      width: 100%;
    }
  }

  &__icon {
    display: block;
    height: 32px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 32px;

    &::before {
      background-color: govuk-colour('white');
      border-radius: 50%;
      box-shadow: inset 0 0 0 0.375em govuk-colour('green');
      content: '';
      display: block;
      height: 32px;
      position: absolute;
      width: 32px;
      z-index: 2;
    }
  }

  &__label {
    @include govuk-font(16);
    display: block;
    margin-top: 10px;
    position: relative;
    z-index: 2;
  }

  &__item {
    @include govuk-font(19);
    display: inline-block;
    max-width: 20%;
    position: relative;
    text-align: center;
    vertical-align: top;

    &--complete {
      .#{$module}__icon {
        &::before {
          background-image: url('/assets/images/icons/icon-progress-tick.svg'); // if less than ie9 provide png fallback (TODO)
          background-color: govuk-colour('green');
          background-position: 50% 50%;
          background-repeat: no-repeat;
        }
      }
    }

    &--current {
      .#{$module}__label {
        font-weight: bold;
      }
    }

    &:first-child,
    &:last-child {
      position: relative;

      .#{$module}__icon {
        position: relative;

        &::after {
          background-color: govuk-colour('white');
          content: '';
          height: 32px;
          position: absolute;
          right: 16px;
          top: 0;
          width: 495px;
          z-index: 0;
        }
      }
    }

    &:last-child {
      .#{$module}__icon::after {
        left: 16px;
        right: auto;
      }
    }
  }
}
