/*
Text
*/

$module: 'text';

.#{$module} {
  &-reference {
    display: block;
    margin-top: 10px;
    margin-bottom: 0;

    &-number {
      @include govuk-font(24, $weight: bold);
      letter-spacing: 2px;
      margin-top: 5px;
    }
  }
}
