@use 'govuk-frontend' as *;

@mixin v-progress-bar {
  @media screen and (max-width: 400px) {
    margin: 20px 0;

    .appeal-received,
    .dwp-respond,
    .hearing-booked,
    .hearing {
      .leg {
        width: 6px;
        height: 30px;
        border-left: 6px solid govuk-colour('green');
        margin-left: 15px;
      }

      .ring {
        display: inherit;
        position: relative;
        z-index: 1;
        border-radius: 50%;
        border: 6px solid govuk-colour('green');
        width: 24px;
        height: 24px;
      }

      .tick {
        display: none;
      }

      &.active {
        .ring {
          background-color: govuk-colour('green');
        }
        .tick {
          top: 3px;
          left: 1px;
          width: 20px;
          height: auto;
          display: block;
          position: absolute;
        }
      }

      h4 {
        float: left;
        margin-left: 45px;
        margin-top: -27px;
        &.current {
          font-weight: bold;
        }
      }
    }
  }
}
