{% extends "components/globals.html" %}
{% extends "layouts/two_thirds.html" %}
{% from "components/phase_banner.njk" import phaseBanner %}

{% block page_title %}{{ titleHead }}{% endblock %}

{% set title = cookies.title %}

{% block two_thirds %}

    <h1 class="govuk-heading-l">{{ contact.title }}</h1>
    <p class="govuk-body">{{ contact.description }}</p>

    <h2 class="govuk-heading-m">{{ englandAndWales.title }}</h2>
    <p class="govuk-body">
        {{ englandAndWales.phone }}<br/>
        {{ englandAndWales.days }}<br/>
        <a href="https://www.gov.uk/call-charges">{{ englandAndWales.callCharge }}</a>
    </p>

    <h2 class="govuk-heading-m">{{ scotland.title }}</h2>
    <p class="govuk-body">
        {{ scotland.phone }}<br/>
        {{ scotland.days }}<br/>
        <a href="https://www.gov.uk/call-charges">{{ scotland.callCharge }}</a>
    </p>

{% endblock %}
