{% extends "components/form-template.html" %}
{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

<p>{{ content.supportCanBeArranged }}<strong class="bold-small"> {{ content.cant }} </strong>{{ content.bringYourOwn }}</p>

{% call formSection() %}

{{ selectionButtons(
    fields.arrangements,
    content.fields.arrangements.label,
    hideQuestion=true,
    options = [
        { label: content.fields.arrangements.yes, value: "yes" },
        { label: content.fields.arrangements.no, value: "no" }
    ])
}}

{% endcall %}

{% endblock %}