{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% set title = content.title | safe %}

{% block fields %}
    <p class="govuk-body">{{ content.supportCanBeArranged }} <strong class="govuk-!-font-size-19 govuk-!-font-weight-bold"> {{ content.cant }}</strong> {{ content.bringYourOwn }}</p>

    {% call formSection() %}
        {{ selectionButtons(
            fields.arrangements,
            content.fields.arrangements.label,
            hideQuestion = true,
            options = [
                { label: content.fields.arrangements.yes, value: "yes" },
                { label: content.fields.arrangements.no, value: "no" }
            ])
        }}
    {% endcall %}
{% endblock %}
