{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/fields.njk" import formSection %}
{% from "components/formElements.html" import date %}

{% block head -%}
    <link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block breadcrumbs %}
    {% include "include/phaseBanner.html" %}
{% endblock %}

{% set title %}
    {% if isAppointee %}
        {{ content.titleAppointee | safe }}
    {% else %}
        {{ content.titleNoAppointee | safe }}
    {% endif %}
{% endset %}

{% block fields %}

    {% call formSection() %}

        {{ date(
            dayField = fields.day,
            monthField = fields.month,
            yearField = fields.year,
            hint = 'For example, 7 5 1981',
            id = 'appellantDOB',
            legend = ''
        )}}

    {% endcall %}

{% endblock %}
