{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, date %}

{% set title = title | safe %}

{% block fields %}
    {% call formSection() %}
        {{ date(
            fields.date,
            content.titleNoAppointee,
            hideQuestion = true,
            hint = content.fields.date.hint,
            labels = {
                day: content.fields.date.day,
                month: content.fields.date.month,
                year: content.fields.date.year
            }
        ) }}
    {% endcall %}
{% endblock %}
