{% extends "layout/formPage.html" %}
{% from "look-and-feel/components/fields.njk" import formSection %}
{% from "components/formElements.html" import date %}

{% set title %}
    {% if isAppointee %}
        {{ content.titleAppointee | safe }}
    {% else %}
        {{ content.titleNoAppointee | safe }}
    {% endif %}
{% endset %}

{% block fields %}

    {% call formSection() %}

        {{ date(
            dayField = fields.day,
            monthField = fields.month,
            yearField = fields.year,
            hint = 'For example, 7 5 1981',
            id = 'appellantDOB',
            legend = ''
        )}}

    {% endcall %}

{% endblock %}
