{% extends "components/form-template.html" %}
{% from "components/fields.njk" import textbox, formSection %}

{% block pageTitle %}{{ content.titleHead | safe }} - {{ commonContent[htmlLang].windowTitleSuffix | safe }}{% endblock %}
{% set title = content.title | safe %}

{% block fields %}
    {% call formSection() %}
        {% if isTypeIba %}
            <p class="govuk-body">{{ content.subtitleTest | safe }}</p>
        {% elif isGlasgowIncluded %}
            <p class="govuk-body">{{ content.subtitleScotland | safe }}</p>
        {% else %}
            <p class="govuk-body">{{ content.subtitle | safe }}</p>
        {% endif %}

        {{ textbox(fields.postcode, content.fields.postcode.label, hideLabel=true) }}
    {% endcall %}
{% endblock %}
