{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}
{% from "components/common/textInput.njk" import govTextInput %}

{% set title = content.title | safe %}

{% block fields %}
    {% call formSection() %}
        {% if isGlasgowIncluded %}
            <p class="govuk-body">{{ content.subtitleScotland }}</p>
        {% else %}
            <p class="govuk-body">{{ content.subtitle }}</p>
        {% endif %}

        {{ govTextInput(fields.postcode,    content.fields.postcode.label,  hideLabel=true) }}
    {% endcall %}
{% endblock %}
