{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/two_thirds.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/phase_banner.njk" import phaseBanner %}

{% block page_title %}
    {{ title }}
{% endblock %}

{% block breadcrumbs %}
    {% call phaseBanner(phase) %}
        {{ banner | safe }}
    {% endcall %}
{% endblock %}

{% block two_thirds %}

    {{ header(title, size='large') }}

    <p>{{ checkAddress }}</p>

    <p>{{ startAppeal | safe }}</p>

{% endblock %}
