{% extends "layout/formPage.html" %}
{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title = content.title %}

{% block fields %}

    <p>{{ content.subtitle | safe }}</p>

    <img class="mrn-image" src="{{ asset_path }}images/mrn-date.png">

    {% call formSection() %}

        {{ selectionButtons(
            fields.checkedMRN,
            "",
            hint = '',
            options = [
                { label: content.fields.checkedMRN.yes, value: "yes" },
                { label: content.fields.checkedMRN.no,  value: "no" }
            ])
        }}

    {% endcall %}

{% endblock %}
