{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% set title = content.title | safe %}

{% block fields %}
    <p class="govuk-body">{{ content.subtitle }}</p>

    {% if benefitType === 'UC' %}
        <img class="mrn-image" src="{{ asset_path }}images/mrn-date-uc.png"  alt="{{ content.imageAlt }}">
    {% else %}
        <img class="mrn-image" src="{{ asset_path }}images/mrn-date.png"  alt="{{ content.imageAlt }}">
    {% endif %}

    {% call formSection() %}
        <legend id="check-mrn" class="govuk-body govuk-!-font-weight-bold">{{ content.question }}</legend>

        {{ selectionButtons(
            fields.checkedMRN,
            content.question,
            hint = '',
            options = [
                { label: content.fields.checkedMRN.yes, value: "yes" },
                { label: content.fields.checkedMRN.no,  value: "no" }
            ])
        }}
    {% endcall %}
{% endblock %}
