{% extends "components/form-template.html" %}
{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    <p>{{ content.subtitle | safe }}</p>

    <img class="mrn-image" src="{{ asset_path }}images/mrn-date.png" alt="{{ content.imageAlt }}">

    {% call formSection() %}

        <legend id="check-mrn" class="form-label-bold">{{ content.question }}</legend>

        {{ selectionButtons(
            fields.checkedMRN,
            content.question,
            hint = '',
            options = [
                { label: content.fields.checkedMRN.yes, value: "yes" },
                { label: content.fields.checkedMRN.no,  value: "no" }
            ])
        }}

    {% endcall %}

{% endblock %}
