{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% set title = content.title | safe %}

{% block fields %}
    {% call formSection() %}
        <p class="govuk-body">{{ content.subtitle | safe }}</p>

        {{ selectionButtons(
            fields.doYouWantTextMsgReminders,
            content.fields.doYouWantTextMsgReminders.label,
            hideQuestion = true,
            options = [
                { label: content.fields.doYouWantTextMsgReminders.yes, value: "yes" },
                { label: content.fields.doYouWantTextMsgReminders.no, value: "no" }
            ])
        }}
    {% endcall %}
{% endblock %}
