{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}
{% from "components/common/radio.njk" import govRadio %}

{% set title = content.title %}

{% block fields %}
    {% call formSection() %}
        <p class="govuk-body">{{ content.subtitle }}</p>

        {{ govRadio(field=fields.doYouWantTextMsgReminders,
            headerText=content.fields.doYouWantTextMsgReminders.label,
            hideQuestion = true,
            items = [
                { text: content.fields.doYouWantTextMsgReminders.yes, value: "yes" },
                { text: content.fields.doYouWantTextMsgReminders.no, value: "no" }
        ]) }}
    {% endcall %}
{% endblock %}
