{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/header.njk" import header %}
{% from "look-and-feel/components/fields.njk" import formSection %}
{% from "components/formElements.html" import date %}

{% block head -%}
<link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
{% endblock %}

{% block breadcrumbs %}
    {% include "include/phaseBanner.html" %}
{% endblock %}

{% set title %}
{{ content.title | safe }}
{% endset %}

{% block fields %}

This is the letter you received from DWP after you asked them to reconsider the decision about your entitlement to ESA.

<img class="mrn-image" src="{{ asset_path }}images/mrn-date.png">

{% call formSection() %}

{{ date(
    dayField = fields.day,
    monthField = fields.month,
    yearField = fields.year,
    hint = 'For example, 31 3 2017',
    id = 'mrnDate',
    legend = 'Date of your MRN'
)}}

<p><a href="/no-mrn">{{content.doNotHaveAnMRN}}</a></p>

{% endcall %}

{% endblock %}
