{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/fields.njk" import formSection, date %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    <img class="mrn-image" src="{{ asset_path }}images/mrn-date.png"  alt="{{ content.imageAlt }}">

    {% call formSection() %}

        {{ date(
            fields.mrnDate,
            content.dateLegend,
            hint = content.dateHint,
            labels = {
                day: content.fields.date.day,
                month: content.fields.date.month,
                year: content.fields.date.year
            }
        ) }}

    {% endcall %}

{% endblock %}
