{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, date %}

{% block pageTitle %}{{ content["titleHead" + suffix] }} - {{ commonContent[htmlLang].windowTitleSuffix }}{% endblock %}
{% set title = content["title" + suffix] %}

{% block fields %}
    {% if benefitType === 'UC' %}
        <img class="mrn-image" src="{{ asset_path }}images/mrn-date-uc.png"  alt="{{ content.imageAlt }}">
    {% elif isIba %}
        <img class="mrn-image" src="{{ asset_path }}images/mrn-date.png"  alt="{{ content.imageAltIba }}">
    {% else %}
        <img class="mrn-image" src="{{ asset_path }}images/mrn-date.png"  alt="{{ content.imageAlt }}">
    {% endif %}
    {% call formSection() %}
        {{ date(
            fields.mrnDate,
            content["dateLegend" + suffix],
            hint = content["dateHint" + suffix],
            labels = {
                day: content.fields.date.day,
                month: content.fields.date.month,
                year: content.fields.date.year
            }
        ) }}
    {% endcall %}
{% endblock %}
