{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    {% call formSection() %}

        {{ selectionButtons(
            fields.useSameNumber,
            "",
            hint = '',
            options = [
            { label: content.fields.useSameNumber.yes, value: "yes" },
            { label: content.fields.useSameNumber.no,  value: "no" }
            ])
        }}

    {% endcall %}

{% endblock %}
