{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}
{% from "components/common/radio.njk" import govRadio %}

{% set title = content.title | safe %}

{% block fields %}
    {% call formSection() %}
        {{ govRadio(field = fields.useSameNumber,
            headerText = content.fields.useSameNumber.label,
            hideQuestion = true,
            isPageHeading=false,
            items = [
                { value: "yes", text: content.fields.useSameNumber.yes },
                { value: "no", text: content.fields.useSameNumber.no }
        ]) }}
    {% endcall %}
{% endblock %}
