{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% set title = content.title | safe %}

{% block fields %}
    {% call formSection() %}
        {{ selectionButtons(
            fields.useSameNumber,
            content.fields.useSameNumber.label,
            hideQuestion = true,
            options = [
                { label: content.fields.useSameNumber.yes, value: "yes" },
                { label: content.fields.useSameNumber.no,  value: "no" }
            ])
        }}
    {% endcall %}
{% endblock %}
