{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% block pageTitle %}{{ content.titleHead | safe }} - {{ commonContent[htmlLang].windowTitleSuffix | safe }}{% endblock %}
{% set title = content.title | safe %}

{% block fields %}
    {% call formSection() %}
        <p class="govuk-body">{{ content[benefitType.toLowerCase()].subtitle | safe }}</p>

        {% if benefitType == 'UC'%}
            <p class="govuk-body">{{ content[benefitType.toLowerCase()].subtitle_para2 | safe }}</p>
        {% endif %}

        {{ selectionButtons(
            fields.haveAMRN,
            content[benefitType.toLowerCase()].subtitle,
            hint = '',
            options = [
                { label: content.fields.haveAMRN.yes, value: "yes" },
                { label: content.fields.haveAMRN.no,  value: "no" }
            ])
        }}
    {% endcall %}
{% endblock %}
