{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}
{% from "components/common/radio.njk" import govRadio %}

{% block pageTitle %}{{ content["titleHead" + suffix] }} - {{ commonContent[htmlLang].windowTitleSuffix }}{% endblock %}
{% set title = content["title" + suffix] %}

{% block fields %}
    {% call formSection() %}
        <p class="govuk-body">{{ content["subtitle" + suffix] }}</p>

        {% if benefitCode == 'UC'%}
            <p class="govuk-body">{{ content[benefitCode.toLowerCase()].subtitle_para2 | safe }}</p>
        {% endif %}

        {{ govRadio(field = fields.haveAMRN, headerText=content["title" + suffix], isPageHeading=false, items = [
        { value: "yes", text: content.fields.haveAMRN["yes" + suffix] },
        { value: "no", text: content.fields.haveAMRN["no" + suffix] }
        ]) }}
    {% endcall %}
{% endblock %}
