{% extends "components/globals.html" %}
{% extends "layouts/two_thirds.html" %}
{% from "components/phase_banner.njk" import phaseBanner %}
{% from "components/header.njk" import header %}

{% block head %}
    <noscript>
        <meta http-equiv="refresh" content="{{ timeOut }};URL='/session-timeout'">
    </noscript>
    {{ super() }}
{% endblock %}

{% block pageTitle %}
{{ content.titleHead }} - {{ commonContent[htmlLang].ibca.windowTitleSuffix if isIba else commonContent[htmlLang].windowTitleSuffix }}
{% endblock %}
{% set title = content.title | safe %}

{% block two_thirds %}
    {{ header(title, size='l') }}

    <p class="govuk-body">{{ content.notCovered }}</p>
    <a href="{{ formUrl }}" target="_self" class="govuk-button">{{ content.formDownload }}</a>
{% endblock %}

{% block full_width %}
    {{ super() }}
    <div>
        {% include "components/inactivity-alert.html" %}
    </div>
{% endblock %}
