{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/two_thirds.html" %}
{% from "look-and-feel/components/phase_banner.njk" import phaseBanner %}
{% from "look-and-feel/components/header.njk" import header %}

{% set title = content.title %}

{% block breadcrumbs %}
{{ phaseBanner(phase, feedbackLink) }}
<a class="link-back" href="#" onclick="history.go(-1); return false;">Back</a>
{% endblock %}

{% block two_thirds %}

{{ header(title, size='large') }}

<p>{{ content.notCovered }}</p>

<a href="https://hmctsformfinder.justice.gov.uk/HMCTS/GetForm.do?original_id=3038" class="button">{{ content.formDownload }}</a>

{% endblock %}
