{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/fields.njk" import formSection, date %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    {% call formSection() %}

        <p>{{ content.itsImportant }}</p>
        <p>{{ content.yourHearing }}</p>

        {{ date(
            fields.cantAttendDate,
            content.fields.cantAttendDate.legend,
            hint = content.fields.cantAttendDate.hint,
            labels = {
                day: content.fields.cantAttendDate.day,
                month: content.fields.cantAttendDate.month,
                year: content.fields.cantAttendDate.year
            }
        ) }}

    {% endcall %}

{% endblock %}
