{% extends "components/globals.html" %}
{% extends "layouts/add_another.html" %}
{% from "components/fields.njk" import formSection, date %}

{% block head %}
    {{ super() }}
    <noscript>
        <meta http-equiv="refresh" content="{{ timeOut }};URL='/session-timeout'">
    </noscript>
{% endblock %}


{% set title %}
    {{ content.title | safe if isListMode }}
    {{ content.titleEdit | safe if isEditMode }}
{% endset %}

{% set pageContent = {
    addAnotherLink: addAnotherLinkContent,
    itemLabel: content.fields.cantAttendDate.legend,
    noItemsMessage: content.noDates,
    itemsListLabel: content.fields.cantAttendDate.legendList,
    hideItemsListLabel: true,
    editItemLabel: content.fields.cantAttendDate.legend
} %}

{% block full_width %}
    {{ super() }}
    <div>
        {% include "components/inactivity-alert.html" %}
    </div>
{% endblock %}

{% block item %}
    <span>{{ item.value.format('dddd D MMMM YYYY') }}</span>
    <span data-index="{{ safeId(item.id) }}" class="govuk-visually-hidden">{{ item.value.format('MM-DD-YYYY') }}</span>
{% endblock %}

{% block listItems %}
    <div id="date-picker-content">
        <p class="govuk-body">{{ content.datePicker.itsImportant }}</p>
        <p class="govuk-body">{{ content.datePicker.select }} <span class="govuk-!-font-weight-bold">{{ content.datePicker.cant }}</span> {{ content.datePicker.hearing }}</p>
    </div>
    <noscript>
        <p class="govuk-body">{{ content.nonJS.itsImportant }}</p>
        <p class="govuk-body">{{ content.nonJS.yourHearing }}</p>
    </noscript>

    <div id="date-picker" class="datepicker"></div>

    <h2 class="govuk-heading-m">{{ content.fields.cantAttendDate.legendList }}</h2>
    {{ super() }}
{% endblock %}

{% block editItem %}
    <p class="govuk-body">{{ content.nonJS.yourHearing }}</p>
    {{ date(
        fields.item,
        content.fields.cantAttendDate.legend,
        labels = {
            day: content.fields.cantAttendDate.day,
            month: content.fields.cantAttendDate.month,
            year: content.fields.cantAttendDate.year
        }
    ) }}
{% endblock %}
