{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/add_another.html" %}
{% from "look-and-feel/components/fields.njk" import formSection, date %}

{% set title %}
{{ content.title | safe if isListMode }}
{{ content.titleEdit | safe if isEditMode }}
{% endset %}

{% set pageContent = {
  addAnotherLink: addAnotherLinkContent,
  itemLabel: content.fields.cantAttendDate.legend,
  noItemsMessage: content.noDates,
  itemsListLabel: content.fields.cantAttendDate.legendList,
  editItemLabel: content.fields.cantAttendDate.legend
} %}

{% block item %}
  {{ item.value.format('dddd, D MMMM YYYY') }}
{% endblock %}

{% block listItems %}
    <p>{{ content.itsImportant }}</p>
    <p>{{ content.yourHearing }}</p>
    {{ super() }}
{% endblock %}

{% block editItem %}
    <p>{{ content.yourHearing }}</p>
  {{ date(fields.item, content.fields.cantAttendDate.legend) }}
{% endblock %}
