{% extends "landing-page-template.html" %}
{% from "components/landingPagePagination.html" import pagination %}

{% block page_title %}{{ titleHead }}{% endblock %}

{% block navList -%}
<nav class="nav-section" role="navigation">
    <h2>Contents</h2>
    <ol class="nav-list">
        <li><a href="{{ paths.landingPages.overview }}">{{ navList.overview }}</a></li>
        <li><a href="{{ paths.landingPages.beforeYouAppeal }}">{{ navList.before }}</a></li>
        <li><a href="{{ paths.landingPages.helpWithAppeal }}">{{ navList.help }}</a></li>
        <li>{{ navList.start }}</li>
        <li><a href="{{ paths.landingPages.afterYouAppeal }}">{{ navList.after }}</a></li>
    </ol>
</nav>
{% endblock %}

{% block infoContent %}
<h1 class="part-title">{{ heading }}</h1>
<p>{{ example }}</p>
<p>{{ whatYouNeed }}</p>
<ul class="list list-bullet">
    <li>{{ whatYouNeedList.mrn | safe }}</li>
    <li>{{ whatYouNeedList.nin }}</li>
    <li>{{ whatYouNeedList.repDetails | safe }}</li>
</ul>

<a class="button button-start" href="/entry" role="button">{{ start }}</a>

{{ pagination(
    prevLink=paths.landingPages.helpWithAppeal,
    prevLabel=navList.help,
    nextLink=paths.landingPages.afterYouAppeal,
    nextLabel=navList.after
) }}

{%- endblock %}
