{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    {% call formSection() %}

        <p class="govuk-body">{{ content.subtitle }}</p>

        {{ selectionButtons(
            fields.haveContactedDWP,
            content.subtitle,
            hint = '',
            options = [
                { label: content.fields.haveContactedDWP.yes, value: "yes" },
                { label: content.fields.haveContactedDWP.no,  value: "no" }
            ])
        }}

    {% endcall %}

{% endblock %}
