{% extends "components/globals.html" %}
{% extends "layouts/question.html" %}

{% set title = content.title | safe %}

{% block two_thirds %}
    <h1 class="govuk-heading-l">{{ content.title }}</h1>
    <p class="govuk-body">
        {{ content.termsAndConditions.termsOfUse }} <a class="govuk-link" href="/privacy-policy">{{ content.termsAndConditions.links.privacy.name }}</a>.
    </p>

    <h2 class="govuk-heading-m">{{ content.whoWeAre.title }}</h2>
    <p class="govuk-body">{{ content.whoWeAre.managedBy }}</p>
    <p class="govuk-body">{{ content.whoWeAre.changeInLaw }}</p>

    <h2 class="govuk-heading-m">{{ content.informationProvided.title }}</h2>
    <p class="govuk-body">{{ content.informationProvided.support }}</p>
    <p class="govuk-body">{{ content.informationProvided.questions }}</p>

    <h2 class="govuk-heading-m">{{ content.dataStored.title }}</h2>
    <p class="govuk-body">
        {{ content.dataStored.our }} <a class="govuk-link" href="/privacy-policy">{{ content.termsAndConditions.links.privacy.name }}</a> {{ content.dataStored.privacy }}
    </p>
    <p class="govuk-body">
        {{ content.dataStored.our }} <a class="govuk-link" href="/cookie-policy">{{ content.termsAndConditions.links.cookie.name }}</a> {{ content.dataStored.cookie }}
    </p>

    <h2 class="govuk-heading-m">{{ content.laws.title }}</h2>
    <p class="govuk-body">{{ content.laws.use }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.laws.act1 }}</li>
        <li>{{ content.laws.act2 }}</li>
        <li>{{ content.laws.act3 }}</li>
        <li>{{ content.laws.act4 }}</li>
        <li>{{ content.laws.act5 }}</li>
    </ul>

    <h2 class="govuk-heading-m">{{ content.responsibleUse.title }}</h2>
    <p class="govuk-body">{{ content.responsibleUse.aware }}</p>
    <p class="govuk-body">{{ content.responsibleUse.precautions }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.responsibleUse.risk1 }}</li>
        <li>{{ content.responsibleUse.risk2 }}</li>
        <li>{{ content.responsibleUse.risk3 }}</li>
    </ul>
    <p class="govuk-body">{{ content.responsibleUse.mustNot }}</p>

    <h2 class="govuk-heading-m">{{ content.sensitiveInfo.title }}</h2>
    <p class="govuk-body">{{ content.sensitiveInfo.freeText }}</p>
    <p class="govuk-body">{{ content.sensitiveInfo.enter }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.sensitiveInfo.info1 }}</li>
        <li>{{ content.sensitiveInfo.info2 }}</li>
        <li>{{ content.sensitiveInfo.info3 }}</li>
        <li>{{ content.sensitiveInfo.info4 }}</li>
        <li>{{ content.sensitiveInfo.info5 }}</li>
        <li>{{ content.sensitiveInfo.info6 }}</li>
        <li>{{ content.sensitiveInfo.info7 }}</li>
        <li>{{ content.sensitiveInfo.info8 }}</li>
    </ul>
    <p class="govuk-body">{{ content.sensitiveInfo.consent }}</p>
    <p class="govuk-body">{{ content.sensitiveInfo.moreInfo }}</p>

    <h2 class="govuk-heading-m">{{ content.welsh.title }}</h2>
    <p class="govuk-body">{{ content.welsh.instructions }}
        <a class="govuk-link" href={{ content.welsh.formLink }}>{{ content.welsh.linkLabel }}</a>.
    </p>
    <p class="govuk-body">{{ content.welsh.inDevelopment }}</p>

    <h2 class="govuk-heading-m">{{ content.disclaimer.title }}</h2>
    <p class="govuk-body">{{ content.disclaimer.upToDate }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.disclaimer.condition1 }}</li>
        <li>{{ content.disclaimer.condition2 }}</li>
        <li>{{ content.disclaimer.condition3 }}</li>
        <li>{{ content.disclaimer.condition4 }}</li>
        <li>{{ content.disclaimer.condition5 }}</li>
    </ul>
    <p class="govuk-body">{{ content.disclaimer.publish }}</p>
    <p class="govuk-body">{{ content.disclaimer.loss }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.disclaimer.damage1 }}</li>
        <li>{{ content.disclaimer.damage2 }}</li>
        <li>{{ content.disclaimer.damage3 }}</li>
        <li>{{ content.disclaimer.damage4 }}</li>
    </ul>
    <p class="govuk-body">{{ content.disclaimer.applies }}</p>
    <p class="govuk-body">{{ content.disclaimer.includes }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.disclaimer.loss1 }}</li>
        <li>{{ content.disclaimer.loss2 }}</li>
        <li>{{ content.disclaimer.loss3 }}</li>
        <li>{{ content.disclaimer.loss4 }}</li>
        <li>{{ content.disclaimer.loss5 }}</li>
        <li>{{ content.disclaimer.loss6 }}</li>
        <li>{{ content.disclaimer.loss7 }}</li>
        <li>{{ content.disclaimer.loss8 }}</li>
        <li>{{ content.disclaimer.loss9 }}</li>
        <li>{{ content.disclaimer.loss10 }}</li>
    </ul>
    <p class="govuk-body">{{ content.disclaimer.liable }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.disclaimer.liability1 }}</li>
        <li>{{ content.disclaimer.liability2 }}</li>
        <li>{{ content.disclaimer.liability3 }}</li>
    </ul>
    <p class="govuk-body"><a class="govuk-link" href="/contact-us">{{ content.termsAndConditions.links.contact.name }}</a> {{ content.disclaimer.furtherInfo }}.</p>
{%- endblock %}
