{% extends "components/form-template.html" %}
{% from "components/fields.njk" import textbox %}
{% from "components/common/checkbox.njk" import govCheckbox %}

{% set title = content.title %}

{% block fields %}
    <p class="govuk-body">{{ content.subtitle }}</p>
    <p class="govuk-body">{{ content.tribunalExplained }}</p>
    <p class="govuk-body">{{ content.supportExplained }}</p>
    <p class="govuk-heading-m">{{ content.fields.title }}</p>
    <p class="govuk-hint">{{ content.instructions }}</p>

{% set telephoneTextField %}
    {{ textbox(fields.selectOptions.telephone.phoneNumber, hideLabel=true, value=phoneNumber) }}
{% endset -%}

{% set emailTextField %}
    {{ textbox(fields.selectOptions.video.email, hideLabel=true, value=email) }}
{% endset -%}

{{ govCheckbox(field = fields.selectOptions, headerText = '', hideQuestion = true, isPageHeading = false,
items = [
    { value: 'true', name: fields.selectOptions.telephone.requested.id, text: content.fields.options.telephone.requested.label, conditional: {html: telephoneTextField}, checked: fields.selectOptions.value.telephone.requested },
    { value: 'true', name: fields.selectOptions.video.requested.id, text: content.fields.options.video.requested.label, conditional: {html: emailTextField}, checked: fields.selectOptions.value.video.requested },
    { value: 'true', name: fields.selectOptions.inPerson.requested.id, text: content.fields.options.inPerson.requested.label, checked: fields.selectOptions.value.video.requested }
]) }}

{% endblock %}
