{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}
{% from "components/fields.njk" import textarea %}

{% set title = content.title | safe %}

{% block fields %}
    {% call formSection() %}
        <p class="govuk-body">{{ content["subtitle" + suffix] }}</p>
        <p class="govuk-body">{{ content.additonalInfo }}</p>

        {{ textarea(fields.otherReasonForAppealing, content.fields.otherReasonForAppealing.label, hideLabel = true, hint=content.fields.otherReasonForAppealing.hint) }}
    {% endcall %}
{% endblock %}

{% block after_form -%}
    {% include "components/sessionTimeoutMessage.html" %}
    {{super()}}
{%- endblock %}
