{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}
{% from "components/formElements.html" import textarea %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set title %}
{{ content.title | safe }}
{% endset %}

{% block fields %}

{% call formSection() %}

<p>{{ content.subtitle }}</p>
<p>{{ content.additonalInfo }}</p>

{{ textarea(fields.otherReasonForAppealing, content.fields.otherReasonForAppealing.label, hideLabel = true) }}

{% endcall %}

{% endblock %}

{% block after_form -%}
    {% include "components/sessionTimeoutMessage.html" %}
{%- endblock %}

