<div class="govuk-summary-list">
    <dl class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{ content.cya.name.question }}</dt>
        <dd class="govuk-summary-list__value">{{ CYAName }}</dd>
        <dd class="govuk-summary-list__actions">
            <a id="cya-change-internationalrepresentativedetails" aria-labelledby="cya-change-internationalrepresentativedetails cya-internationalrepresentativedetails-label" class="govuk-link" href="{{ path }}">{{ content.cya.change }}</a>
            <span id="cya-internationalrepresentativedetails-label" class="govuk-visually-hidden"> {{ content.cya.repDetails }}</span>
        </dd>
    </dl>
</div>
<div class="govuk-summary-list">
    <dl id="cya-representativedetails-organisation-if-they-work-for-one" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{ content.cya.organisation.question }}</dt>
        <dd class="govuk-summary-list__value">{{ CYAOrganisation }}</dd>
    </dl>
</div>
<div class="govuk-summary-list">
    <dl class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{ content.cya.address.question }}</dt>
        <dd class="govuk-summary-list__value">
            {{ fields.addressLine1.value }}<br>
            {% if fields.addressLine2.value %}{{ fields.addressLine2.value }}<br>{% endif %}
            {{ fields.townCity.value }}<br>
            {% if fields.postCode.value %}{{ fields.postCode.value }}<br>{% endif %}
        </dd>
    </dl>
</div>
<div class="govuk-summary-list">
    <dl class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{ content.cya.country.question }}</dt>
        <dd class="govuk-summary-list__value">
            {{ fields.country.value }}<br>
        </dd>
    </dl>
</div>
<div class="govuk-summary-list">
    <dl id="cya-representativedetails-email-address" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key">{{ content.cya.emailAddress.question }}</dt>
        <dd class="govuk-summary-list__value">{{ CYAEmailAddress }}</dd>
        <dd class="govuk-summary-list__actions"></dd>
    </dl>
</div>
<div class="govuk-summary-list">
    <dl id="cya-representativedetails-phone-number" class="govuk-summary-list__row">
        <dt class="govuk-summary-list__key ">{{ content.cya.phoneNumber.question }}</dt>
        <dd class="govuk-summary-list__value">{{ CYAPhoneNumber }}</dd>
        <dd class="govuk-summary-list__actions"></dd>
    </dl>
</div>
