{% extends "components/form-template.html" %}
{% from "components/fields.njk" import textbox, select, formSection, errorClass, errorsFor %}
{% from "postcodeLookup/template.html" import postcodeLookup  %}

{% set title = content.title %}

{% block fields %}
    <p class="govuk-body">{{ content.subtitle }}</p>
    <div id="{{ fields.name.id }}" class="govuk-form-group {{ errorClass(fields.name) }}">
        <legend class="govuk-visually-hidden">{{ content.title }}</legend>

        {{ errorsFor(fields.name) }}
        {{ textbox(fields.name.title,    content.fields.name.title.title) }}
        {{ textbox(fields.name.first,    content.fields.name.first.title) }}
        {{ textbox(fields.name.last,     content.fields.name.last.title) }}
        {{ textbox(fields.name.organisation, content.fields.name.organisation.title) }}

    </div>
    {{ textbox(fields.addressLine1, content.fields.addressLine1.title,  hint="") }}
    {{ textbox(fields.addressLine2, content.fields.addressLine2.title,  hint="") }}
    {{ textbox(fields.townCity,     content.fields.townCity.title,      hint="") }}
    {{ select(fields.country,       content.fields.country.title,       options=getCountries) }}
    {{ textbox(fields.phoneNumber,  content.fields.phoneNumber.title,   hint=content.fields.phoneNumber.hint) }}
    {{ textbox(fields.emailAddress, content.fields.emailAddress.title,  hint=content.fields.emailAddress.hint) }}
{% endblock %}
