{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}
{% from "components/common/radio.njk" import govRadio %}

{% set title = content.title %}

{% block fields %}
    <p class="govuk-body">{{ content.subtitle }}</p>
    <p class="govuk-body">{{ content.registerList }}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.info }}</li>
        <li>{{ content.evidence }}</li>
        <li>{{ content.talkToUs }}</li>
    </ul>
    <p class="govuk-body">{{ content.phoneUp }}</p>

    {% call formSection() %}
        {{ govRadio(field = fields.hasRepresentative,
            headerText=content.fields.hasRepresentative.label,
            hideQuestion = true,
            items = [
                { value: "yes", text: content.fields.hasRepresentative.yes },
                { value: "no", text: content.fields.hasRepresentative.no }
        ]) }}
    {% endcall %}
{% endblock %}
