{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% block pageTitle %}{{ content.titleHead | safe }} - {{ commonContent[htmlLang].windowTitleSuffix | safe }}{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    <p class="govuk-body">{{ content.subtitle | safe}}</p>
    <p class="govuk-body">{{ content.registerList | safe}}</p>
    <ul class="govuk-list govuk-list--bullet">
        <li>{{ content.info | safe }}</li>
        <li>{{ content.evidence | safe }}</li>
        <li>{{ content.talkToUs | safe }}</li>
    </ul>
    <p class="govuk-body">{{ content.phoneUp | safe }}</p>

    {% call formSection() %}

        {{ selectionButtons(
            fields.hasRepresentative,
            content.fields.hasRepresentative.label,
            hideQuestion=true,
            options = [
                { label: content.fields.hasRepresentative.yes, value: "yes" },
                { label: content.fields.hasRepresentative.no,  value: "no" }
            ])
        }}

    {% endcall %}

{% endblock %}
