{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}
{% from "components/common/radio.njk" import govRadio %}

{% set title = content.titleNI if featureToggles.allowNI else content.title %}

{% block fields %}
        {% call formSection() %}
            {{ govRadio(field = fields.inMainlandUk,
                headerText = content.question,
                hideQuestion = true,
                items = [
                    { value: "yes", text: content.fields.inMainlandUk.yes },
                    { value: "no", text: content.fields.inMainlandUk.no }
            ]) }}
        {% endcall %}
{% endblock %}
