{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons, textarea, textbox, select %}
{% from "components/toggle_help.njk" import toggleHelp %}
{% from "details/macro.njk" import govukDetails %}

{% set title = content.title %}

{% block fields %}
    <div id="representativeInMainlandUk">
        {% call formSection() %}
            {{ selectionButtons(
                fields.inMainlandUk,
                content.question,
                hint = '',
                options = [
                    { label: content.fields.inMainlandUk.yes, value: "yes" },
                    { label: content.fields.inMainlandUk.no,  value: "no" }
                ])
            }}
        {% endcall %}
    </div>
{% endblock %}
