{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

<p>{{ content.subtitle }}</p>

{% call formSection() %}

<p>{{ content.register.heading }}</p>

<ul class="list list-bullet">
    <li>{{ content.register.fullName }}</li>
    <li>{{ content.register.organisation}}</li>
    <li>{{ content.register.emailOrPostalAddress }}</li>
</ul>
{% endcall %}

{% endblock %}
