{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}

{% set title = content.title | safe %}

{% block fields %}
    <p class="govuk-body">{{ content.subtitle }}</p>

    {% call formSection() %}
        <p class="govuk-body">{{ content.register.heading }}</p>
        <ul class="govuk-list govuk-list--bullet">
            <li>{{ content.register.fullName }}</li>
            <li>{{ content.register.organisation }}</li>
            <li>{{ content.register.emailOrPostalAddress }}</li>
        </ul>
    {% endcall %}
{% endblock %}
