{% extends "components/globals.html" %}
{% extends "layouts/two_thirds.html" %}
{% from "components/phase_banner.njk" import phaseBanner %}/

{% block pageTitle %}{{ titleHead | safe }}{% endblock %}

{% block two_thirds %}
    {% set title = content.title | safe %}

    <h1 class="govuk-heading-l">{{ title | safe }}</h1>
    <p class="govuk-body">
        {{ termsAndConditions.termsOfUse | safe }}
        <a class="govuk-link" href="/privacy-policy">{{ termsAndConditions.links.privacy.name | safe }}</a>
    </p>

    <h2 class="govuk-heading-m">{{ whoWeAre.title | safe }}</h2>
    <p class="govuk-body">{{ whoWeAre.managedBy | safe }}</p>
    <p class="govuk-body">{{ whoWeAre.changeInLaw | safe }}</p>

    <h2 class="govuk-heading-m">{{ informationProvided.title | safe }}</h2>
    <p class="govuk-body">{{ informationProvided.support | safe }}</p>
    <p class="govuk-body">{{ informationProvided.questions | safe }}</p>

    <h2 class="govuk-heading-m">{{ dataStored.title | safe }}</h2>
    <p class="govuk-body">
        {{ dataStored.our | safe }}
        <a class="govuk-link" href="/privacy-policy">{{ termsAndConditions.links.privacy.name | safe }}</a>
        {{ dataStored.privacy | safe }}
    </p>
    <p class="govuk-body">
        {{ dataStored.our | safe }}
        <a class="govuk-link" href="/cookie-policy">{{ termsAndConditions.links.cookie.name | safe }}</a>
        {{ dataStored.cookie | safe }}
    </p>

    <h2 class="govuk-heading-m">{{ laws.title | safe }}</h2>
    <p class="govuk-body">{{ laws.use | safe }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for act in laws.acts %}
            <li>{{ act | safe }}</li>
        {% endfor %}
    </ul>

    <h2 class="govuk-heading-m">{{ responsibleUse.title | safe }}</h2>
    <p class="govuk-body">{{ responsibleUse.aware | safe }}</p>
    <p class="govuk-body">{{ responsibleUse.precautions | safe }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for risk in responsibleUse.risks %}
            <li>{{ risk | safe }}</li>
        {% endfor %}
    </ul>
    <p class="govuk-body">{{ responsibleUse.mustNot | safe }}</p>

    <h2 class="govuk-heading-m">{{ sensitiveInfo.title | safe }}</h2>
    <p class="govuk-body">{{ sensitiveInfo.freeText | safe }}</p>
    <p class="govuk-body">{{ sensitiveInfo.enter | safe }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for info in sensitiveInfo.infoList %}
            <li>{{ info | safe }}</li>
        {% endfor %}
    </ul>
    <p class="govuk-body">{{ sensitiveInfo.consent | safe }}</p>
    <p class="govuk-body">{{ sensitiveInfo.moreInfo | safe }}</p>

    <h2 class="govuk-heading-m">{{ welsh.title | safe }}</h2>
    <p class="govuk-body">{{ welsh.instructions | safe }}
        <a class="govuk-link" href={{ welsh.formLink }}>{{ welsh.linkLabel | safe }}</a>.
    </p>
    <p class="govuk-body">{{ welsh.inDevelopment | safe }}</p>

    <h2 class="govuk-heading-m">{{ disclaimer.title | safe }}</h2>
    <p class="govuk-body">{{ disclaimer.upToDate | safe }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for condition in disclaimer.conditions %}
            <li>{{ condition | safe }}</li>
        {% endfor %}
    </ul>
    <p class="govuk-body">{{ disclaimer.publish | safe }}</p>
    <p class="govuk-body">{{ disclaimer.loss | safe }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for damage in disclaimer.damages %}
            <li>{{ damage | safe }}</li>
        {% endfor %}
    </ul>
    <p class="govuk-body">{{ disclaimer.applies | safe }}</p>
    <p class="govuk-body">{{ disclaimer.includes | safe }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for loss in disclaimer.losses %}
            <li>{{ loss | safe }}</li>
        {% endfor %}
    </ul>
    <p class="govuk-body">{{ disclaimer.liable | safe }}</p>
    <ul class="govuk-list govuk-list--bullet">
        {% for liability in disclaimer.liabilities %}
            <li>{{ liability | safe }}</li>
        {% endfor %}
    </ul>
    <p class="govuk-body"><a class="govuk-link" href="/contact-us">{{ termsAndConditions.links.contact.name | safe }}</a> {{ disclaimer.furtherInfo | safe }}</p>
{%- endblock %}
