{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

<p>{{ content.description | safe }}</p>

{% call formSection() %}

{{ selectionButtons(
    fields.appointee, "",
    hint = '',
    options = [
        { label: content.fields.appointee.yes, value: "yes" },
        { label: content.fields.appointee.no, value: "no" }
    ])
}}

{% endcall %}

{% endblock %}
