{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

<p>{{ content.description | safe }}</p>

{% call formSection() %}

{{ selectionButtons(
    fields.isAppointee,
    content.fields.isAppointee.label,
    hideQuestion=true,
    options = [
        { label: content.fields.isAppointee.no, value: "no" },
        { label: content.fields.isAppointee.yes, value: "yes" }
    ])
}}

{% endcall %}

{% endblock %}
