{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, errorClass, errorsFor %}
{% from "postcodeLookup/template.html" import postcodeLookup  %}
{% from "components/common/textInput.njk" import govTextInput %}

{% set title = content.title | safe %}

{% block fields %}
    <p class="govuk-body">{{ content.subtitle }}</p>
    <div id="{{ fields.name.id }}" class="govuk-form-group {{ errorClass(fields.name) }}">
        <legend class="govuk-visually-hidden">{{ content.title }}</legend>

        {{ errorsFor(fields.name) }}
        {% if not isIba %}
            {{ govTextInput(fields.name.title,    content.fields.name.title.title,  hint="") }}
        {% endif %}
        {{ govTextInput(fields.name.first,    content.fields.name.first.title,  hint="") }}
        {{ govTextInput(fields.name.last,    content.fields.name.last.title,  hint="") }}
        {{ govTextInput(fields.name.organisation,    content.fields.name.organisation.title,  hint="") }}

    </div>
    {% call postcodeLookup(fields, addressSuggestions, postcodeLookupType, postCodeContent) %}
        {{ govTextInput(fields.addressLine1,    content.fields.addressLine1.title,  hint=content.fields.addressLine1.hint) }}
        {{ govTextInput(fields.addressLine2,    content.fields.addressLine2.title,  hint="") }}
        {{ govTextInput(fields.townCity,    content.fields.townCity.title,  hint="") }}
        {{ govTextInput(fields.county,    content.fields.county.title,  hint="") }}
        {{ govTextInput(fields.postCode,    content.fields.postCode.title,  hint="") }}
    {% endcall %}
    {{ govTextInput(fields.phoneNumber,    content.fields.phoneNumber.title,  hint=content.fields.phoneNumber.hint) }}
    {{ govTextInput(fields.emailAddress,    content.fields.emailAddress.title,  hint=content.fields.emailAddress.hint) }}
{% endblock %}
