{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% set title = content.title | safe %}

{% block fields %}
    <p class="govuk-body">{{ content.subtitle | safe }}</p>
    <p class="govuk-body">{{ content.explainReasons | safe }}</p>
    <p class="govuk-body">{{ content.arrangeSupport | safe }}</p>

    {{ selectionButtons(
        fields.attendHearing,
        content.fields.attendHearing.title,
        hideQuestion = false,
        options = [
            { label: content.fields.attendHearing.yes, value: "yes" },
            { label: content.fields.attendHearing.no, value: "no" }
        ])
    }}
{% endblock %}
