{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

<p>{{ content.subtitle | safe }}</p>
<p>{{ content.explainReasons | safe }}</p>
<p>{{ content.arrangeSupport | safe }}</p>

{{ selectionButtons(
    fields.attendHearing,
    content.fields.attendHearing.title,
    hideQuestion=false,
    options = [
        { label: content.fields.attendHearing.yes, value: "yes" },
        { label: content.fields.attendHearing.no, value: "no" }
    ])
}}

{% endblock %}
