{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, select %}
{% from "postcodeLookup/template.html" import postcodeLookup  %}
{% from "components/common/textInput.njk" import govTextInput %}

{% set title = content.title %}

{% block fields %}
    {% call formSection() %}
        <p class="govuk-body">{{ content.subtitle }}</p>
        {{ govTextInput(fields.addressLine1,    content.fields.addressLine1.title,      isPageHeading = false) }}
        {{ govTextInput(fields.addressLine2,    content.fields.addressLine2.title,      isPageHeading = false) }}
        {{ govTextInput(fields.townCity,        content.fields.townCity.title,          isPageHeading = false) }}
        {{ select(fields.country,               content.fields.country.title,           options=getCountries) }}
        {{ select(fields.portOfEntry,           content.fields.portOfEntry.title,       hint=content.fields.portOfEntry.hint,  options=getPortOfEntryList)}}
        {{ govTextInput(fields.phoneNumber,
            content.fields.phoneNumber.title,
            hint=content.fields.phoneNumber.hint,
            isPageHeading = false
        ) }}
        {{ govTextInput(
            fields.emailAddress,
            content.fields.emailAddress.title,
            hint=content.fields.emailAddress.hint,
            isPageHeading = false
        ) }}
    {% endcall %}
{% endblock %}
