{% extends "components/globals.html" %}
{% extends "layouts/add_another.html" %}
{% from "components/fields.njk" import formSection, fileupload %}

{% block pageTitle %}{{ content.titleHead | safe }} - {{ commonContent[htmlLang].windowTitleSuffix | safe }}{% endblock %}
{% set title = content.title | safe %}

{% set pageContent = {
    addAnotherLink: addAnotherLinkContent,
    itemsListLabel: content.itemsListLabel,
    hideItemsListLabel: true
}
%}

{% if isEditMode %}
    {% set enc_type = 'multipart/form-data' %}
{% endif %}

{% block editItem %}
    {% call formSection() %}
        {{ fileupload(fields.item.uploadEv, '', acceptFileTypes=accept) }}
    {% endcall %}
{% endblock %}

{% block item %}
    <span data-index="{{ safeId(item.id) }}">{{ item.uploadEv.value | safe }}</span>
{% endblock %}

{% block listItems %}
    <p class="govuk-body">{{ content.description | safe }}</p>
    <p class="govuk-body">{{ content.description2 | safe }}</p>
    {% if mediaFilesNotAllowed %}
        <p class="govuk-body">{{ content.description2 | safe }}</p>
    {% endif %}
    <div id="evidence-upload"></div>

    {{ header(content.itemsListLabel, size='s') }}
    {{ super() }}
{% endblock %}

{% block after_form -%}
    {% include "components/sessionTimeoutMessage.html" %}
    {{super()}}
{%- endblock %}
