{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/add_another.html" %}
{% from "look-and-feel/components/fields.njk" import formSection %}
{% from "components/formElements.html" import fileupload %}


{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set pageContent = {
addAnotherLink: addAnotherLinkContent
} %}

{% set title %}
{{ content.title | safe }}
{% endset %}

{% set enc_type = 'multipart/form-data' %}

{% block editItem %}

{% call formSection() %}

{{ fileupload('uploadEv', acceptFileTypes=accept) }}

{% endcall %}

{% endblock %}

{% block item %}
<span data-index="{{ safeId(item.id) }}">{{ item.uploadEv.value }}</span>
{% endblock %}

{% block listItems %}
<p>This goes some text I guess</p>

{{ super() }}
{% endblock %}

