{% extends "components/globals.html" %}
{% extends "layouts/question.html" %}

{% block pageTitle %}{{ content.titleHead | safe }} - {{ commonContent[htmlLang].windowTitleSuffix | safe }}{% endblock %}
{% set title = content.title | safe %}

{% block two_thirds %}
    <h1  class="govuk-heading-l">Your draft benefit appeals</h1>

    <p>If you wish to edit an application for appeal, please select ‘edit’ next to the appropriate application.</p>

    <p>If you no longer wish to submit any of these applications for appeal, please select ‘archive’ next to the appropriate application.</p>

    <p>If you wish to submit a new appeal, please select ‘create new application’ to provide your appeal information.</p>

    <br>

    <div class="form-buttons-group">
        <a class="govuk-button" href="/new-appeal">Create new Application</a>
    </div>

    {% for caseId, draft in drafts %}

        {{ header(appellantName(draft) | safe, size='m') }}
        <hr>
        <table class="govuk-table">
            <caption class="govuk-visually-hidden">Table Caption</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" width="20%">Appeal Reference</th>
                <th class="govuk-table__header" scope="col" width="40%">Benefit</th>
                <th class="govuk-table__header" scope="col" width="25%">MRN Date</th>
                <th class="govuk-table__header" scope="col" width="15%">Action</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ caseId }}</td>
                <td class="govuk-table__cell">{{ benefit(draft) }}</td>
                <td class="govuk-table__cell">{{ mrnDate(draft) }}</td>
                <td class="govuk-table__cell"><a href="/edit-appeal?caseId={{ caseId }}">Edit</a> <a href="/archive-appeal?caseId={{ caseId }}">Archive</a></td>
            </tr>
            </tbody>
        </table>
        <br>
    {% endfor %}

{%- endblock %}
