{% extends "components/globals.html" %}
{% extends "layouts/question.html" %}

{% block full_width %}
    {{ super() }}
    <div>
        {% include "components/delete-warning.html" %}
    </div>
{% endblock %}


{% block two_thirds %}
    <h1  class="govuk-heading-l">{{ title}}</h1>

    <p>{{ content.description.line1 }}</p>

    <p>{{ content.description.line2 }}</p>

    <p>{{ content.description.line3 }}</p>

    <p>{{ content.description.line4 }}</p>

    <p>{{ content.description.line5 }}</p>

    <br>

    <div class="form-buttons-group">
        <a class="govuk-button" href="/new-appeal">{{ content.buttons.create }}</a>
    </div>

    <style> .equal-width-twenty th { width: 20%; } </style>
    <style> .equal-width-forty th { width: 40%; } </style>
    <style> .equal-width-twenty-five th { width: 25%; } </style>
    <style> .equal-width-fifteen th { width: 15%; } </style>

    {% for caseId, draft in drafts %}

        {{ header(appellantName(draft) | safe, size='m') }}
        <hr>
        <table class="govuk-table">
            <caption class="govuk-visually-hidden">Table Caption</caption>
            <thead class="govuk-table__head">
            <tr class="govuk-table__row">
                <th class="govuk-table__header" scope="col" class ="equal-width-twenty">{{ content.tableHeadings.appealRef }}</th>
                <th class="govuk-table__header" scope="col" class ="equal-width-forty">{{ tableHeadingTwo }}</th>
                <th class="govuk-table__header" scope="col" class ="equal-width-twenty-five">{{ tableHeadingThree }}</th>
                <th class="govuk-table__header" scope="col" class ="equal-width-fifteen">{{ content.tableHeadings.action }}</th>
            </tr>
            </thead>
            <tbody class="govuk-table__body">

            <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ caseId }}</td>
                <td class="govuk-table__cell">{{ content.benefitTypes[benefit(draft)] }}</td>
                <td class="govuk-table__cell">{{ mrnDate(draft) }}</td>
                <td class="govuk-table__cell">
                    <a href="/edit-appeal?caseId={{ caseId }}">{{ content.buttons.edit }}</a>
                    <a id="delete-link" href="/delete-appeal?caseId={{ caseId }}">{{ content.buttons.delete }}</a></td>
            </tr>
            </tbody>
        </table>
        <br>
    {% endfor %}

{%- endblock %}
