{% for question, answer in cyaArrangements %}
    <div class="govuk-summary-list">
        <dl class="govuk-summary-list__row">
            <dt class="govuk-summary-list__key">{{ content.cya[question] }}</dt>
            <dd class="govuk-summary-list__value">{{ answer }}</dd>
            <dd class="govuk-summary-list__actions">
                {% if loop.first %}
                    <a class="govuk-link" href="{{ path }}">{{ content.cya.change }}</a>
                    <span class="govuk-visually-hidden"> {{ content.cya.arrangements }}</span>
                {% endif %}
            </dd>
        </dl>
    </div>
{% endfor %}
