<div class="govuk-check-your-answers cya-questions-short">
    {% for question, answer in cyaArrangements %}
        <dl class="cya-hearingArrangements">
            <dt class="cya-question">{{ content.cya[question] }}</dt>
            <dd class="cya-answer">{{ answer|safe }}</dd>
            <dd class="cya-change">
                {% if loop.first %}
                    <a href="{{ path }}">{{ content.cya.change }}</a>
                    <span class="visually-hidden"> {{ content.cya.arrangements }}</span>
                {% endif %}
            </dd>
        </dl>
    {% endfor %}
</div>
