{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, errorsFor, errorClass %}
{% from "components/formElements.html" import textarea %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

<p>{{ content.clickAllArrangements | safe }}</p>
<p>{{ content.cannotBringInterpreter | safe }}</p>

{% call formSection() %}

    {{
        selectionButtons(
            field = fields.selection,
            question = '',
            hideQuestion = true,
            hint = '',
            inline = false,
            type = 'checkbox',
            options = [
                { label: content.fields.selection.languageInterpreter,      value: 'Language interpreter' },
                { label: content.fields.selection.signLanguageInterpreter,  value: 'Sign language interpreter' },
                { label: content.fields.selection.hearingLoop,              value: 'Hearing loop' },
                { label: content.fields.selection.disabledAccess,           value: 'Disabled access' }
            ]
        )
    }}

    {{ textarea(fields.anythingElse, content.fields.anythingElse.title, hint="") }}

{% endcall %}

{% endblock %}

{% block after_form %}

<div class="after-form">
    <p><a class="link" href="/hearing-availability">{{ content.doNotNeedArrangements }}</a></p>
</div>
{% endblock %}

