{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/fields.njk" import formSection, selectionButtons, errorsFor, errorClass %}
{% from "components/formElements.html" import textarea %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

<p>{{ content.clickAllArrangements | safe }}</p>
<p>{{ content.you }}<strong class="bold-small"> {{ content.cant }}</strong> {{ content.bringYourOwnInterpreter }}</p>

{% call formSection() %}

    {{
        selectionButtons(
            field = fields.selection,
            question = '',
            hideQuestion = true,
            hint = '',
            inline = false,
            type = 'checkbox',
            options = [
                { label: content.fields.selection.languageInterpreter,      value: 'languageInterpreter' },
                { label: content.fields.selection.signLanguageInterpreter,  value: 'signLanguageInterpreter' },
                { label: content.fields.selection.hearingLoop,              value: 'hearingLoop' },
                { label: content.fields.selection.disabledAccess,           value: 'disabledAccess' }
            ]
        )
    }}

    {{ textarea(fields.anythingElse, content.fields.anythingElse.title, hint="") }}

{% endcall %}

{% endblock %}
