{% extends "components/form-template.html" %}
{% from "components/fields.njk" import select, textbox, formSection %}

{% set title = content.title | safe %}

{% block fields %}
    <p class="govuk-body">{{ content.description }}</p>

    {% call formSection() %}
        {{ select(
            fields.title,
            content.fields.title.title,
            options = titlesList
        ) }}
        {{ textbox(fields.firstName, content.fields.firstName.title, hint="") }}
        {{ textbox(fields.lastName, content.fields.lastName.title, hint="") }}
    {% endcall %}
{% endblock %}
