{% extends "components/form-template.html" %}
{% from "components/fields.njk" import select, formSection %}
{% from "components/common/textInput.njk" import govTextInput %}

{% set title = content.title | safe %}

{% block fields %}
    <p class="govuk-body">{{ content.description }}</p>

    {% call formSection() %}
        {{ select(
            fields.title,
            content.fields.title.title,
            options = titlesList
        ) }}
        {{ govTextInput(
            fields.firstName,
            content.fields.firstName.title,
            hideLabel = false,
            isPageHeading = false
        ) }}
        {{ govTextInput(
            fields.lastName,
            content.fields.lastName.title,
            hideLabel = false,
            isPageHeading = false
        ) }}
    {% endcall %}
{% endblock %}
