{% extends "components/form-template.html" %}
{% from "look-and-feel/components/fields.njk" import textbox %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    <img class="mrn-image issuing-office" src="{{ asset_path }}images/dwp-office-number.png" alt="{{ content.imageAlt }}">

    <p><h2 class="heading-small">{{ content.fields.pipNumber.header }}</h2></p>

    {{ textbox(fields.pipNumber, content.fields.pipNumber.label) }}

{% endblock %}
