{% extends "components/form-template.html" %}
{% from "components/fields.njk" import select, formSection %}
{% from "components/common/textInput.njk" import govTextInput %}

{% set title = title %}

{% block fields %}
    {% call formSection() %}
        {% if subtitle %}
            <p class="govuk-body">{{ subtitle }}</p>
        {% endif %}
        {% if not isIba %}
            {{ select(
                fields.title,
                content.fields.title.title,
                options = titlesList
            ) }}
        {% endif %}
        {{ govTextInput(fields.firstName,
        content.fields.firstName.title,
        hideLabel = false,
        isPageHeading = false) }}

        {{ govTextInput(fields.lastName,
        content.fields.lastName.title,
        hideLabel = false,

        isPageHeading = false) }}
    {% endcall %}
{% endblock %}
