{% extends "components/form-template.html" %}
{% from "components/fields.njk" import select, textbox, formSection %}

{% set title = title | safe %}

{% block fields %}
    {% call formSection() %}
        {% if subtitle %}
            <p class="govuk-body">{{ subtitle | safe }}</p>
        {% endif %}

        {{ select(
            fields.title,
            content.fields.title.title,
            options = titlesList
        ) }}
        {{ textbox(fields.firstName, content.fields.firstName.title, hint="") }}
        {{ textbox(fields.lastName, content.fields.lastName.title, hint="") }}
    {% endcall %}
{% endblock %}
