{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}
{% from "components/common/radio.njk" import govRadio %}

{% set title = content.title | safe %}

{% block fields %}
    <p class="govuk-body">{{ content.subtitle }}</p>

    {% call formSection() %}
        {{ govRadio(
            field = fields.createAccount,
            headerText = content.fields.createAccount.label,
            hideQuestion = true,
            items = [
                { text: content.fields.createAccount.yes, value: "yes" },
                { text: content.fields.createAccount.no, value: "no" }
        ]) }}
    {% endcall %}

    <p class="govuk-body">{{ content.fields.createAccount.warning }} {{ content.fields.createAccount.yes }}.</p>
{% endblock %}
