{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% set title = content.title | safe %}

{% block fields %}
    {% if isIba %}
        <p class="govuk-body">{{ content.subtitleIba | safe }}</p>
    {% else %}
        <p class="govuk-body">{{ content.subtitle | safe }}</p>
    {% endif %}

    {% call formSection() %}
        {{ selectionButtons(
            fields.createAccount,
            content.fields.createAccount.label,
            hideQuestion = true,
            options = [
                { label: content.fields.createAccount.yes, value: "yes" },
                { label: content.fields.createAccount.no, value: "no" }
            ])
        }}
    {% endcall %}

    <p class="govuk-body">{{ content.fields.createAccount.warning | safe }} {{ content.fields.createAccount.yes | safe }}.</p>
{% endblock %}
