{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% set title = content.title | safe %}

{% block fields %}
    <p class="govuk-body">{{ content.descriptionPara1 }}</p>
    <p class="govuk-body">{{ content.descriptionPara2 }}</p>
    <p class="govuk-body">{{ content.descriptionPara3 }}</p>

    {% call formSection() %}
        {{ selectionButtons(
            fields.evidenceProvide,
            content.fields.evidenceProvide.label,
            hideQuestion = false,
            options = [
                { label: content.fields.evidenceProvide.yes, value: "yes" },
                { label: content.fields.evidenceProvide.no, value: "no" }
            ])
        }}
    {% endcall %}
{% endblock %}

{% block after_form -%}
    {% include "components/sessionTimeoutMessage.html" %}
    {{super()}}
{%- endblock %}
