{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}
{% from "components/common/radio.njk" import govRadio %}

{% set title = content.title %}

{% block fields %}
    <p class="govuk-body">{{ content.subtitle }}</p>

    {% call formSection() %}
        {{ govRadio(
            field = fields.scheduleHearing,
            headerText = content.fields.scheduleHearing.label,
            hideQuestion = true,
            items = [
                { text: content.fields.scheduleHearing.yes, value: "yes" },
                { text: content.fields.scheduleHearing.no, value: "no" }
        ]) }}
    {% endcall %}
{% endblock %}
