{% extends "components/globals.html" %}
{% extends "layouts/error.html" %}
{% from "components/header.njk" import header %}
{% from "components/phase_banner.njk" import phaseBanner %}

{% block pageTitle %}
{{ content.titleHead }} - {{ commonContent[htmlLang].ibca.windowTitleSuffix if isIba else commonContent[htmlLang].windowTitleSuffix }}
{% endblock %}

{% block breadcrumbs %}
    {% call phaseBanner(commonContent[htmlLang], feedbackLink + urlPath) %}
        {{ banner }}
    {% endcall %}
{% endblock %}

{% block two_thirds %}
    {{ header(content.title, size='l') }}
    <p class="govuk-body" class="govuk-body">{{ content.body.para1 }}</p>
    <p class="govuk-body" class="govuk-body">{{ content.body.para2 }}</p>
    <p class="govuk-body" class="govuk-body">{{ content.body.para3 }}</p>
{% endblock %}
