{% extends "landing-page-template.html" %}

{% block page_title %}{{ titleHead }}{% endblock %}

{% block navList -%}
<nav class="nav-section" role="navigation">
    <h2>Contents</h2>
    <ol class="nav-list">
        <li>{{ navList.overview }}</li>
        <li><a href="/before-you-appeal">{{ navList.before }}</a></li>
        <li><a href="/help-with-appeal">{{ navList.help }}</a></li>
        <li><a href="/start-an-appeal">{{ navList.start }}</a></li>
        <li><a href="/after-you-appeal">{{ navList.after }}</a></li>
    </ol>
</nav>
{% endblock %}

{% block infoContent %}
<h1 class="part-title">{{ heading }}</h1>
<p>{{ youCanAppeal }}</p>
<p>{{ decision }}</p>

<h2 class="heading-medium">{{ subheading }}</h2>
<p>{{ benefits }}</p>
<ul class="list list-bullet">
    <li>{{ benefitsList.attendance }}</li>
    <li>{{ benefitsList.bereavement }}</li>
    <li>{{ benefitsList.carer }}</li>
    <li>{{ benefitsList.child }}</li>
    <li>{{ benefitsList.disability }}</li>
    <li>{{ benefitsList.employment }}</li>
    <li>{{ benefitsList.responsibilities }}</li>
    <li>{{ benefitsList.housing }}</li>
    <li>{{ benefitsList.incapacity }}</li>
    <li>{{ benefitsList.income }}</li>
    <li>{{ benefitsList.injuries }}</li>
    <li>{{ benefitsList.jobseeker }}</li>
    <li>{{ benefitsList.maternity }}</li>
    <li>{{ benefitsList.pip }}</li>
    <li>{{ benefitsList.disablement }}</li>
    <li>{{ benefitsList.social }}</li>
    <li>{{ benefitsList.universal }}</li>
</ul>

<p>{{ cantSeeBenefit }}</p>

<div class="panel panel-border-wide">
    <p>{{ upToAMonth }}</p>
</div>

<nav class="pagination" role="navigation" aria-label="Pagination">
    <ul>
        <li class="pagination-next">
            <a class="pagination-link" href="/meow">
                <span class="pagination-title">
                    Next
                <img class="pagination-icon"/>
                </span>
                <span class="visually-hidden">:</span>
                <span class="pagination-label">Before you appeal</span>
            </a>
        </li>
    </ul>
</nav>

{%- endblock %}
