{% extends "components/globals.html" %}
{% extends "layouts/two_thirds.html" %}
{% from "components/header.njk" import header %}
{% from "components/phase_banner.njk" import phaseBanner %}

{% block head %}
    <noscript>
        <meta http-equiv="refresh" content="{{ timeOut }};URL='/session-timeout'">
    </noscript>
    {{ super() }}
{% endblock %}


{% block breadcrumbs %}
    {% call phaseBanner(commonContent[htmlLang], feedbackLink + urlPath) %}
        {{ banner | safe }}
    {% endcall %}
    <a class="govuk-back-link" href="#">{{ commonContent[htmlLang].back | safe }}</a>
{% endblock %}

{% block two_thirds %}
    {% set title = content.title | safe %}

    {{ header(content.title, size='l') }}

    <p class="govuk-body">{{ content.appealLateReason | safe }}</p>
    <p class="govuk-body">{{ content.findContactDetails | safe }}</p>

    <a class="govuk-link" href="http://www.gov.uk">{{ content.govuk | safe }}</a>
{% endblock %}

{% block full_width %}
    {{ super() }}
    <div>
        {% include "components/inactivity-alert.html" %}
    </div>
{% endblock %}
