{% extends "components/globals.html" %}
{% extends "layouts/two_thirds.html" %}
{% from "components/phase_banner.njk" import phaseBanner %}
{% from "components/cookieTable.html" import cookieTable %}

{% block page_title %}{{ titleHead }}{% endblock %}

{% set title = cookies.title %}

{% block two_thirds %}

    <h1 class="heading-large">{{ cookies.title }}</h1>

    <p>{{ cookies.description }}</p>

    <h2 class="heading-medium">{{ usedInService.title }}</h2>
    <p>{{ usedInService.uses }}</p>
    <ul class="list list-bullet">
        {% for use in usedInService.usesList %}
        <li>{{ use }}</li>
        {% endfor %}
    </ul>
    <p>{{ usedInService.more }}<a href="http://www.aboutcookies.org/">{{ usedInService.manage }}</a></p>

    <h2 class="heading-medium">{{ howAreTheyUsed.title }}</h2>
    <p>{{ howAreTheyUsed.description }}</p>
    <p>{{ howAreTheyUsed.info }}</p>
    <ul class="list list-bullet">
        {% for info in howAreTheyUsed.infoList %}
        <li>{{ info }}</li>
        {% endfor %}
    </ul>
    <p>{{ howAreTheyUsed.googleShare }}<a href="https://policies.google.com/privacy/partners?hl=en-GB&gl=uk">{{ howAreTheyUsed.googlePrivacyPolicy }}</a></p>
    <p>
        {{ howAreTheyUsed.optOut.youCan }}
        <a href="https://policies.google.com/privacy/partners?hl=en-GB&gl=uk">{{ howAreTheyUsed.optOut.google }}</a>
        {{ howAreTheyUsed.optOut.access }}
    </p>

    <p>{{ howAreTheyUsed.googleCookies }}</p>
    {{ cookieTable( howAreTheyUsed.cookieTable.items, howAreTheyUsed.cookieTable.columnNames ) }}

    <h2 class="heading-medium">{{ introMessage.title }}</h2>
    <p>{{ introMessage.description }}</p>
    {{ cookieTable( introMessage.cookieTable.items, introMessage.cookieTable.columnNames ) }}

    <h2 class="heading-medium">{{ sessionCookie.title }}</h2>
    <p>{{ sessionCookie.description }}</p>
    {{ cookieTable( sessionCookie.cookieTable.items, sessionCookie.cookieTable.columnNames ) }}

{% endblock %}
