{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/fields.njk" import formSection %}

{% block head -%}
<link href="{{ asset_path }}main.css" media="screen" rel="stylesheet" />
{% endblock %}

{% set title %}
{{ content.title | safe }}
{% endset %}

{% block fields %}

<p>{{ content.healthcarePro }}</p>
<p>{{ content.writeStatement }}</p>
<p>{{ content.sendEvidence }}</p>
<p>{{ content.postEvidence }}</p>

{% call formSection() %}


{% endcall %}

{% endblock %}
