{% extends "components/globals.html" %}
{% extends "look-and-feel/layouts/question.html" %}
{% from "look-and-feel/components/fields.njk" import formSection %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

<p>{{ content.healthcarePro }}</p>
<p>{{ content.writeStatement }}</p>
<p>{{ content.sendEvidence }}</p>

{% if hasSignedUpForEmail %}
    {{ content.postEvidenceWithEmail }}
{% else %}
    {{ content.postEvidence }}
{% endif %}

{% call formSection() %}
{% endcall %}

{% endblock %}
