{% extends "components/form-template.html" %}
{% from "look-and-feel/components/fields.njk" import formSection %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

<p>{{ content.healthcarePro }}</p>
<p>{{ content.writeStatement }}</p>
<p>{{ content.sendEvidence }}</p>

<p>
    {% if hasSignedUpForEmail %}
        {{ content.postEvidenceWithEmail }}
    {% else %}
        {{ content.postEvidence }}
    {% endif %}
</p>

{% call formSection() %}
{% endcall %}

{% endblock %}
