{% extends "layout/formPage.html" %}
{% from "look-and-feel/components/fields.njk" import formSection %}
{% from "components/formElements.html" import textarea %}

{% set title = content.title %}

{% block fields %}

    <p>{{ content.yourAppealIsOverOneYearLate }}</p>
    <p>{{ content.appealMayGoAheadForGoodReason }}</p>

    {% call formSection() %}

        {{ textarea(fields.reasonForBeingLate, "", hint="") }}

        <a href="/cant-appeal">{{ content.noGoodReasonWhyLate }}</a>

    {% endcall %}

{% endblock %}
