{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection %}
{% from "components/formElements.html" import textarea %}

{% block page_title %}{{ content.titleHead }}{% endblock %}

{% set title %}
    {{ content.title | safe }}
{% endset %}

{% block fields %}

    <p>{{ content.yourAppealIsOverOneYearLate }}</p>
    <p>{{ content.appealMayGoAheadForGoodReason }}</p>

    {% call formSection() %}

        {{ textarea(fields.reasonForBeingLate, content.fields.reasonForBeingLate.label, hideLabel = true)|safe }}

    {% endcall %}

{% endblock %}
