{% extends "components/form-template.html" %}
{% from "components/fields.njk" import formSection, selectionButtons %}

{% block pageTitle %}{{ content.titleHead }} - {{ commonContent[htmlLang].windowTitleSuffix }}{% endblock %}
{% set title = content.title %}

{% block fields %}
    <p class="govuk-body">{{ content.subtitle }}</p>
    <img class="mrn-image" src="{{ asset_path }}images/irn-date.png"  alt="{{ content.imageAlt }}">

    {% call formSection() %}
        <legend id="check-irn" class="govuk-body govuk-!-font-weight-bold">{{ content.question }}</legend>

        {{ selectionButtons(
            fields.checkedIRN,
            content.question,
            hint = '',
            options = [
                { label: content.fields.checkedIRN.yes, value: "yes" },
                { label: content.fields.checkedIRN.no,  value: "no" }
            ])
        }}
    {% endcall %}
{% endblock %}
